<template>
  <div class="featured-section text-center">
    <div v-if="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div v-else class="container">
      <h1 class="text-center">제품</h1>

      <p class="section-description"></p>

      <div class="text-center button-container">
        <a href="#" class="button">Featured</a>
        <a href="#" class="button">On Sale</a>
      </div>
      <div class="products text-center">
        <div v-for="(product) in products" :key="product.id">
          <div class="product">
            <a href=""><img :src="imgSrc+product.image" alt="product"></a>
            <a href=""><div class="product-name">{{product.name}}</div></a>
            <div class="product-price">{{product.price | won }}</div>
          </div>
        </div>
        <!-- end products -->
      </div> <!-- end container -->
      <div class="text-center button-container" id="view-more-btn">
        <a href="" class="button">View more products</a>

      </div>
    </div> <!-- end featured-section -->
  </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "LandingProduct",
        data() {
            return {
                loading: false,
                products: '',
                imgSrc : ''
            }
        },
        filters: {
          currency: value => {
            if (!value) return "";
            return value.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
          }
        },
        created() {
            this.loading = true
            this.addLadingProduct
            this.imgSrc = this.$store.state.commerce.storageDir
        },
        computed: {
            addLadingProduct(){
                this.$store.dispatch('commerce/landingProduct', {
                })
                .then(response => {
                    this.products = response.data
                    this.loading = false
                })
            },
        }
    }

</script>

<style lang="scss" scoped>
  @import "@/assets/sass/app.scss";

  .button {
    font-size: 15px;
  }
  .product-name {
    font-size: 15px;
    font-family: 'Jeju Gothic';
    color:#1e1e1e;
  }
  .product-price{
    font-family: 'Jeju Gothic';
    font-size:15px;
  }
  h1{
    font-family: 'Nanum Pen Script';
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 8px;
    border: 8px solid #aaa;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #aaa transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
