.text-center {
    text-align: center;
}

.spacer {
    margin-bottom: 30px;
}
@media (max-width:768px) {
    .spacer {
        margin-bottom: 4vw;
    }
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.full-width {
  width: 100%;
}


