<template>
  <div class="mx-auto breadcrumbs-wrap">
    <div class="breadcrumbs container">
      <a href="/">Home</a>
      <font-awesome-icon icon="chevron-right"/>
      <i class="fa fa-chevron-right breadcrumb-separator"></i>
      <span>Shop</span>
    </div>
  </div>
</template>

<script>
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faChevronRight } from '@fortawesome/free-solid-svg-icons'

    library.add(faChevronRight)
    export default {
        name: "BreadCrumbs"
    }
</script>

<style scoped>

</style>
