<template>
  <div>
        <slideComponent :slideImg="['@/assets/img/landing/Main_slide1.jpg', '@/assets/img/landing/Main_slide2.jpg', '@/assets/img/landing/Main_slide3.jpg']"></slideComponent>
    <slideComponent :pcImgSlide="pcImages" :mobileImgSlide="mobileImages"></slideComponent>
    <instaComponent></instaComponent>
    <landingProductComponent></landingProductComponent>
  </div>
</template>
<style>
</style>
<script>
    import slideComponent from '@/components/widget/Slide'
    import instaComponent from '@/components/widget/Instagram'
    import landingProductComponent from '@/components/landing/LandingProduct'

    export default {
        data() {
            return {
                pcImages: [
                    {
                        pc_name: 'static/img/PC_Main_slide1.jpg',
                    },
                    {
                        pc_name: 'static/img/PC_Main_slide2.jpg',
                    },
                    {
                        pc_name: 'static/img/PC_Main_slide3.jpg',
                    }
                ],
                mobileImages: [
                    {
                        m_name: 'static/img/M_Main_slide1.jpg',
                    },
                    {
                        m_name: 'static/img/M_Main_slide2.jpg',
                    },
                    {
                        m_name: 'static/img/M_Main_slide3.jpg',
                    }
                ]
            }
        },
        components: {
            slideComponent,
            instaComponent,
            landingProductComponent,
        },
    }
</script>

