<template>
  <div>
    <div class="product-section container">
      <div>
        <div class="product-section-image">
          <img alt="product" class="firstImage active" id="currentImage">
<!--            :src="`${imgUrl}${image}`"-->

        </div>
        <div class="product-section-images">
          <div @click="thumbnailSelect" class="product-section-thumbnail selected">
            <img class="firstImage" alt="product">
<!--              :src="`${imgUrl}${image}`"-->

          </div>
          <div @click="thumbnailSelect" class="product-section-thumbnail" v-for="thumbnail in thumbnails" :key="thumbnail.id">
<!--            <img :src="`${imgUrl}${thumbnail}`" alt="product">-->
          </div>
        </div>
      </div>
      <div class="product-section-information">
        <h1 class="product-section-title">{{product.name}}</h1>
        <div class="product-section-subtitle">{{product.details}}</div>
        <div v-html="stockLevel"></div>
        <div class="product-section-price">{{product.price | won}}</div>

        <p>

        </p>
        <div class="gibon">
          <input class="check" type="radio" checked><span>기본</span>
          <ul>
            <li>
              <span class="quantity">수량</span>
              <div class="arrow-box">
                <div class="bottom-arrow"  @click="numberTrans('main-menu','minus')"></div>
                <input type="number" min="1" id="main-menu" class="form-control countInput" style="text-align: center;" name="main_menu" v-model="cnt">
                <div class="top-arrow" @click="numberTrans('main-menu','plus')"></div>


              </div>
            </li>
          </ul>
        </div>
                <form action="" @submit.prevent="cartAdd">
<!--                  action="{{ route('cart.store', $product) }}" method="POST">-->

<!--                  <input type="hidden" name="id" :value="product.id">-->
<!--                  <input type="hidden" name="name" :value="product.name">-->
<!--                  <input type="hidden" name="price" :value="product.value">-->
                  <button type="submit" class="button button-plain">Add to Cart</button>
                </form>


<!--               <a href="#" class="button">Add to Cart</a>-->

      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: "EcommerceProduct",
    data() {
      return {
        paramId: null,
        imgUrl: '',
        thumbnails: '',
        image: '',
        product: '',
        stockLevel:'',
        productId:'',
        name:'',
        price:'',
        cnt:1,
      }
    },
    computed: {
        loggedIn() {

            return this.$store.getters['user/loggedIn']
            // return this.$store.getters['user/loggedIn']
        }
    },
    created() {
      this.imgUrl = this.$store.state.commerce.storageDir
      this.showProduct()

      // console.log(this.thumbnail)
    },
    watch: {
      // 라우트가 변경되면 메소드를 다시 호출됩니다.
      '$route': 'showProduct'
    },
    methods: {
      showProduct() {
        this.$store.dispatch('commerce/showProduct', {
          id: this.$route.params.id

        })
          .then(response => {
              // console.log('결과값',response);
            var images = response.data.product.images.replace('[', '');
            images = images.replace(']', '');
            images = images.replace(/"/gi, '');
            images = images.split(",");
            this.thumbnails = images
            this.image = response.data.product.image

            this.product = response.data.product
            this.stockLevel = response.data.stockLevel

            this.productId = response.data.product.id
            this.name = response.data.product.name
            this.price = response.data.product.price

            var firstImages = document.querySelectorAll('.firstImage')
              // firstImages.forEach(e =>
                // e.src = this.imgUrl+this.image
              // )
          })
          .catch(error => {
            alert('정보가 없습니다')
            console.log(error)
          })

      },
      thumbnailSelect(e) {
        const currentImage = document.querySelector('#currentImage')
        // currentImage.src = e.target.src
        const images = document.querySelectorAll('.product-section-thumbnail')
        images.forEach((element) => element.classList.remove('selected'))
        e.target.parentNode.classList.add('selected')
      },
      cartAdd(e) {

          // console.log('this.name',this.cnt);
          // console.log(this.$store.state.commerce.userId)
          if(this.loggedIn) {
              this.$store.dispatch('commerce/loggedInCartAdd', {
                  productId: this.productId, cnt: this.cnt
              })
              .then(response => {
                console.log(response)
              })
          } else {
              console.log('비회원')
          }
        // this.e.target.name =
        // e.push({
        //
        // })
        // console.log(id)
        // console.log('id',this.id)
        // console.log('name',this.name)
        // console.log('price',this.price)
      },
      updateInput(e){
        console.log(e)
      },
      numberTrans(id ,count) {
          var inputId = document.getElementById(id);
          if (count == 'plus') {
              this.cnt++;
          } else if (count == 'minus') {
              if (inputId.value == 1) {
              } else {
                  this.cnt--;
              }
          }
          // document.querySelector('.total-price').innerHTML = number_format(inputId.value * price) + '원';
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "@/assets/sass/app.scss";
  .gibon{
    display:inline-block;
    width:100%;
  }
  .gibon ul{
    padding-left:0.25rem;
    font-size: 20px;
    margin: 13px 0px;
  }
  .gibon ul li{
    display: flex;
    align-items: center;

  }
  .quantity{
    float:left;
    font-size: 14px;
    line-height: 16px;
    padding-right:30px;
  }

  .gibon  {
    vertical-align: middle;

  }
  .top-arrow:hover{
    border-bottom: 3.2vw solid #1e1e1e;
  }
  .bottom-arrow:hover{
    border-top: 3.2vw solid #1e1e1e;
  }
  .arrow-box{
    float:left;
    width:9rem;
    display: flex;
    align-items: center;
  }
  .top-arrow{
    display:inline-block;
    width: 0px;
    height: 0px;
    /*border-top: 50px solid none;*/

    border-bottom: 3.2vw solid #F05959;
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
  }
  .bottom-arrow{
    display:inline-block;
    width: 0px;
    height: 0px;

    border-top: 3.2vw solid #F05959;
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
  }
</style>
