<template>
  <div class="shop_wrap">
    <bread-crumbs/>
    <div class="products-section container">
      <div class="sidebar">
        <h3>By Category</h3>
        <ul>도커 젠킨스 업데이트
          <li v-for="category in categories" :key="category.id" class="">
            <a @click="categorySelect(category.slug)">{{category.name}}</a>
          </li>
        </ul>
      </div> <!-- end sidebar -->
      <div>
        <div class="products-header">
          <h1 class="stylish-heading">{{categoryName}}</h1>
          <div>
            <strong>Price: </strong>
            <a @click="sortPrice('low_high')">Low to High</a> |
            <a @click="sortPrice('high_low')">High to Low</a>
          </div>
        </div>
        <div class="products text-left">
          <div v-for="product in laravelData.data" :key="product.id" class="product">
            <a :href="`show/${product.slug}`" alt="product"><img :src="`${imgUrl}${product.image}`" alt=""></a>
            <a :href="`show/${product.slug}`">
              <div class="product-name">{{product.name}}</div>
            </a>
            <a :href="`show/${product.slug}`">
              <div class="product-price">{{product.price | won}}</div>
            </a>
          </div>
          <!--          <div style="text-align:left;">No items found</div>-->
        </div> <!-- end products -->
        <div class="spacer" style="text-align: center;     margin-top: 90px;">
          <pagination :data="laravelData" @pagination-change-page="shopProduct"></pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    import pagination from "laravel-vue-pagination"
    import BreadCrumbs from './BreadCrumbs.vue'

    export default {
        components: {
            BreadCrumbs,
            pagination,
        },
        // name: 'restaurant-search',
        data() {
            return {
                categories: '',
                categoryName: '',
                laravelData: {},
                imgUrl: this.$store.state.commerce.storageDir,
                url: this.$store.state.commerce.url,
                category: this.$route.query.category,
                sort:this.$route.query.sort,
                page: this.$route.query.page
            }
        },
        created() {
          if(!this.$route.query.page) {
            this.category = ''
          }
          this.shopProduct()
        },
        mounted() {

        },
        watch: {
          // 라우트가 변경되면 메소드를 다시 호출됩니다.
          '$router': 'shopProduct'
        },
        methods: {
          categorySelect(category) {
            this.category = category

            this.shopProduct(1)
          },
          sortPrice(sort){
            this.sort = sort
            this.shopProduct(1)
          },
          shopProduct(page) {
            if(!page) {
              page = this.$route.query.page
            }
              this.$store.dispatch('commerce/shopProduct', {
              category:this.category , sort:this.sort, page: page
            })
            .then(response => {
              this.laravelData = response.data.products
              this.categories = response.data.categories
              this.categoryName = response.data.categoryName
              this.page = response.data.products.current_page
              this.$router.push({ query: { page: this.page, category:this.category, sort:this.sort }},(e) => {})
            })
            .catch(error => {
              this.laravelFrist = '500'
            })
            },
        }
    }
</script>
<style lang="scss" scoped>
  @import "@/assets/sass/app.scss";
  a{
    cursor:pointer;
  }
  .shop_wrap {
    min-height: 100%;
    font-size: 18px;
  }
</style>
