<template>

</template>
<div class="container">
  <br />
  <h3 align="center">Full Text Search in Laravel 6 using Ajax</h3>
  <br />
  <div class="row">
    <div class="col-md-10">
      <input type="text" name="full_text_search" id="full_text_search" class="form-control" placeholder="Search" value="">
    </div>
    <div class="col-md-2">
      @csrf
      <button type="button" name="search" id="search" class="btn btn-success">Search</button>
    </div>
  </div>
  <br />
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Customer Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
