<template>
  <div class="page-wrapper flex-center">
    <section class="hero">
      <div class="hero-container">
        <div class="hero-content">
<!--          <h1>가장 손쉬운 식단표</h1>-->
          <p>
<!--            해당학교, 식당을 검색해 보세요!-->
          </p>
          <div class="hero-search-form">
<!--            <form action="">-->
              <input @keyup.enter="wideSearchResults()" name="restaurant" id="restaurant" type="text" placeholder="식당을 검색하세요!" v-model="search" value="">
<!--            </form>-->
          </div>
<!--          {{restaurant_search}}-->
          <div class="trending-search-tags">
            <p>Trending searches: <a href="#">flower</a>, <a href="#">sad</a> , <a href="#">love</a></p>
          </div>
        </div>
      </div>
      <div class="hero-overlay"></div>


      <div class="text-gray-900 bg-gray-200">
<!--        <div class="p-4 flex">-->
<!--          <h1 class="text-3xl">-->
<!--            Users-->
<!--          </h1>-->
<!--        </div>-->
        <div class="container">
          <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
            <thead class="text-white">
            <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
              <th class="p-3 text-left">name</th>
              <th class="p-3 text-left">tel</th>
              <th class="p-3 text-left">zip</th>
              <th class="p-3 text-left">bname</th>
              <th class="p-3 text-left">address</th>
              <th class="p-3 text-left">오픈시간</th>
              <th class="p-3 text-left">마감시간</th>
              <th class="p-3 text-left" width="50px">action</th>
            </tr>
            </thead>
            <tbody class="flex-1 sm:flex-none">
            <tr v-if="laravelFrist == 'Y'" v-for="item in laravelData.data" :key="item.id" class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <td class="border-grey-light border hover:bg-gray-100 p-3">{{item.name}}</td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{item.tel}}</td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{item.zonecode}}</td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{item.bname}}</td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{item.jibunAddress}}</td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{item.open_time}}</td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{item.close_time}}</td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">Delete</td>
            </tr>
            <tr v-if="laravelFrist == 'N'" class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <td class="text-center border-grey-light border hover:bg-gray-100 p-3" colspan="7">데이터가 없습니다.</td>
            </tr>
            <tr v-if="laravelFrist == '500'" class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <td class="text-center border-grey-light border hover:bg-gray-100 p-3" colspan="7">서버로부터 응답을 받을 수 없습니다.</td>
            </tr>
            </tbody>
          </table>
        </div>

        <fieldset>
          <legend>주소그룹2</legend>
          <select name="sido" id="sido" @change="update_gugun"></select>
          <select name="gugun" id="gugun" @change="update_dong"></select>
          <select name="dong" id="dong"></select>
        </fieldset>
        <button type="button"  id="sojajiBtn" @click="sojaejiSearch">검색</button>
        <pagination v-if="laravelFrist == 'Y'" :limit="2"  :data="laravelData" @pagination-change-page="wideSearchResults"></pagination>
      </div>

    </section>

  </div>
</template>
<style>
  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }
  .container {
    margin:auto;
  }
  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
  .pagination{
    text-align: center;
  }
  .pagination li {
    display: inline-block;
  }
  .pagination.pg-blue .page-item.active .page-link{
    background-color: #4285f4;
  }
  .pagination .page-item.active .page-link{
    color: #fff;
    background-color: #1e1e1e;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  .pagination .page-item .page-link {
    font-size: .9rem;
    color: #212529;
    background-color: transparent;
    border: 0;
    outline: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
  }
</style>
<script>

  import pagination from "laravel-vue-pagination"
  import axios from "axios";
  export default {
    components: {
      pagination,
    },
    name: 'restaurant-search',
    data() {
      return {
        search: '',
        laravelData: {},
        laravelFrist : '',
        sido: '',
        gugun: '',
        dong: '',
        bname: '',
        data: {
            '시도' : ['서울','부산','대구','인천','광주','대전','울산','강원','경기','경남','경북','전남','전북','제주','충남','충북'],
            '서울' : ['강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구'],
            '부산' : ['강서구','금정구','남구','동구','동래구','부산진구','북구','사상구','사하구','서구','수영구','연제구','영도구','중구','해운대구','기장군'],
            '대구' : ['남구','달서구','동구','북구','서구','수성구','중구','달성군'],
            '인천' : ['계양구','남구','남동구','동구','부평구','서구','연수구','중구','강화군','옹진군'],
            '광주' : ['광산구','남구','동구','북구','서구'],
            '대전' : ['대덕구','동구','서구','유성구','중구'],
            '울산' : ['남구','동구','북구','중구','울주군'],
            '강원' : ['강릉시','동해시','삼척시','속초시','원주시','춘천시','태백시','고성군','양구군','양양군','영월군','인제군','정선군','철원군','평창군','홍천군','화천군','횡성군'],
            '경기' : ['고양시 덕양구','고양시 일산동구','고양시 일산서구','과천시','광명시','광주시','구리시','군포시','김포시','남양주시','동두천시','부천시 소사구','부천시 오정구','부천시 원미구','성남시 분당구','성남시 수정구','성남시 중원구','수원시 권선구','수원시 영통구','수원시 장안구','수원시 팔달구','시흥시','안산시 단원구','안산시 상록구','안성시','안양시 동안구','안양시 만안구','양주시','오산시','용인시 기흥구','용인시 수지구','용인시 처인구','의왕시','의정부시','이천시','파주시','평택시','포천시','하남시','화성시','가평군','양평군','여주군','연천군'],
            '경남' : ['거제시','김해시','마산시','밀양시','사천시','양산시','진주시','진해시','창원시','통영시','거창군','고성군','남해군','산청군','의령군','창녕군','하동군','함안군','함양군','합천군'],
            '경북' : ['경산시','경주시','구미시','김천시','문경시','상주시','안동시','영주시','영천시','포항시 남구','포항시 북구','고령군','군위군','봉화군','성주군','영덕군','영양군','예천군','울릉군','울진군','의성군','청도군','청송군','칠곡군'],
            '전남' : ['광양시','나주시','목포시','순천시','여수시','강진군','고흥군','곡성군','구례군','담양군','무안군','보성군','신안군','영광군','영암군','완도군','장성군','장흥군','진도군','함평군','해남군','화순군'],
            '전북' : ['군산시','김제시','남원시','익산시','전주시 덕진구','전주시 완산구','정읍시','고창군','무주군','부안군','순창군','완주군','임실군','장수군','진안군'],
            '제주' : ['제주시','서귀포시'],
            '충남' : ['계룡시','공주시','논산시','보령시','서산시','아산시','천안시 동남구','천안시 서북구','금산군','당진군','부여군','서천군','연기군','예산군','청양군','태안군','홍성군'],
            '충북' : ['제천시','청주시 상당구','청주시 흥덕구','충주시','괴산군','단양군','보은군','영동군','옥천군','음성군','증평군','진천군','청원군'],
            '서울->강남구' : ['개포1동','개포2동','개포4동','개포동','논현1동','논현2동','논현동','대치1동','대치2동','대치4동','대치동','도곡1동','도곡2동','도곡동','삼성1동','삼성2동','삼성동','세곡동','수서동','신사동','압구정동','역삼1동','역삼2동','역삼동','율현동','일원1동','일원2동','일원본동','일원동','자곡동','청담동','무역센터우체국사서함','서울강남우체국사서함','서울영동우체국사서함'],
            '서울->강동구' : ['강일동','고덕1동','고덕2동','고덕동','길동','둔촌1동','둔촌2동','둔촌동','명일1동','명일2동','명일동','상일동','성내1동','성내2동','성내3동','성내동','암사1동','암사2동','암사3동','암사동','천호1동','천호2동','천호3동','천호동','서울강동우체국사서함'],
            '서울->강북구' : ['미아동','번1동','번2동','번3동','번동','삼각산동','삼양동','송중동','송천동','수유1동','수유2동','수유3동','수유동','우이동','인수동','서울강북우체국사서함'],
            '서울->강서구' : ['가양1동','가양2동','가양3동','가양동','개화동','공항동','과해동','내발산동','등촌1동','등촌2동','등촌3동','등촌동','마곡동','방화1동','방화2동','방화3동','방화동','염창동','오곡동','오쇠동','외발산동','우장산동','화곡1동','화곡2동','화곡3동','화곡4동','화곡6동','화곡8동','화곡본동','화곡동','서울강서우체국사서함','서울화곡우체국사서함'],
            '서울->관악구' : ['낙성대동','난곡동','난향동','남현동','대학동','미성동','보라매동','봉천동','삼성동','서림동','서원동','성현동','신림동','신사동','신원동','은천동','인헌동','조원동','중앙동','청룡동','청림동','행운동','서울관악우체국사서함'],
            '서울->광진구' : ['광장동','구의1동','구의2동','구의3동','구의동','군자동','능동','자양1동','자양2동','자양3동','자양4동','자양동','중곡1동','중곡2동','중곡3동','중곡4동','중곡동','화양동','서울광진우체국사서함','동서울우편집중국사서함'],
            '서울->구로구' : ['가리봉동','개봉1동','개봉2동','개봉3동','개봉동','고척1동','고척2동','고척동','구로1동','구로2동','구로3동','구로4동','구로5동','구로동','궁동','신도림동','오류1동','오류2동','오류동','온수동','천왕동','항동','구로디지털단지우체국사서함'],
            '서울->금천구' : ['가산동','독산1동','독산2동','독산3동','독산4동','독산동','시흥1동','시흥2동','시흥3동','시흥4동','시흥5동','시흥동','서울금천우체국사서함'],
            '서울->노원구' : ['공릉1.3동','공릉2동','공릉동','상계1동','상계2동','상계3.4동','상계5동','상계6.7동','상계8동','상계9동','상계10동','상계동','월계1동','월계2동','월계3동','월계동','중계1동','중계2.3동','중계4동','중계본동','중계동','하계1동','하계2동','하계동','서울노원우체국사서함'],
            '서울->도봉구' : ['도봉1동','도봉2동','도봉동','방학1동','방학2동','방학3동','방학동','쌍문1동','쌍문2동','쌍문3동','쌍문4동','쌍문동','창1동','창2동','창3동','창4동','창5동','창동'],
            '서울->동대문구' : ['답십리1동','답십리2동','답십리동','신설동','용두동','이문1동','이문2동','이문동','장안1동','장안2동','장안동','전농1동','전농2동','전농동','제기동','청량리동','회기동','휘경1동','휘경2동','휘경동','동대문우체국사서함','서울청량우체국사서함'],
            '서울->동작구' : ['노량진1동','노량진2동','노량진동','대방동','동작동','본동','사당1동','사당2동','사당3동','사당4동','사당5동','사당동','상도1동','상도2동','상도3동','상도4동','상도동','신대방1동','신대방2동','신대방동','흑석동','서울동작우체국사서함'],
            '서울->마포구' : ['공덕동','구수동','노고산동','당인동','대흥동','도화동','동교동','마포동','망원1동','망원2동','망원동','상수동','상암동','서교동','성산1동','성산2동','성산동','신공덕동','신수동','신정동','아현동','연남동','염리동','용강동','중동','창전동','토정동','하중동','합정동','현석동','서울마포우체국사서함'],
            '서울->서대문구' : ['남가좌1동','남가좌2동','남가좌동','냉천동','대신동','대현동','미근동','봉원동','북가좌1동','북가좌2동','북가좌동','북아현동','신촌동','연희동','영천동','옥천동','창천동','천연동','충정로2가','충정로3가','합동','현저동','홍은1동','홍은2동','홍은동','홍제1동','홍제2동','홍제3동','홍제동','서대문우체국사서함','서울충정로우체국사서함'],
            '서울->서초구' : ['내곡동','반포1동','반포2동','반포3동','반포4동','반포본동','반포동','방배1동','방배2동','방배3동','방배4동','방배본동','방배동','서초1동','서초2동','서초3동','서초4동','서초동','신원동','양재1동','양재2동','양재동','염곡동','우면동','원지동','잠원동','서울서초우체국사서함'],
            '서울->성동구' : ['금호동1가','금호동2가','금호동3가','금호동4가','도선동','마장동','사근동','상왕십리동','성수1가1동','성수1가2동','성수2가1동','성수2가3동','성수동1가','성수동2가','송정동','옥수동','왕십리2동','용답동','응봉동','하왕십리동','행당1동','행당2동','행당동','홍익동','서울성동우체국사서함'],
            '서울->성북구' : ['길음1동','길음2동','길음동','돈암1동','돈암2동','돈암동','동선동1가','동선동2가','동선동3가','동선동4가','동선동5가','동소문동1가','동소문동2가','동소문동3가','동소문동4가','동소문동5가','동소문동6가','동소문동7가','보문동1가','보문동2가','보문동3가','보문동4가','보문동5가','보문동6가','보문동7가','삼선동1가','삼선동2가','삼선동3가','삼선동4가','삼선동5가','상월곡동','석관동','성북동','성북동1가','안암동1가','안암동2가','안암동3가','안암동4가','안암동5가','월곡1동','월곡2동','장위1동','장위2동','장위3동','장위동','정릉1동','정릉2동','정릉3동','정릉4동','정릉동','종암동','하월곡동','서울성북우체국사서함'],
            '서울->송파구' : ['가락1동','가락2동','가락본동','가락동','거여1동','거여2동','거여동','마천1동','마천2동','마천동','문정1동','문정2동','문정동','방이1동','방이2동','방이동','삼전동','석촌동','송파1동','송파2동','송파동','신천동','오금동','오륜동','잠실2동','잠실3동','잠실4동','잠실6동','잠실7동','잠실본동','잠실동','장지동','풍납1동','풍납2동','풍납동','서울송파우체국사서함'],
            '서울->양천구' : ['목1동','목2동','목3동','목4동','목5동','목동','신월1동','신월2동','신월3동','신월4동','신월5동','신월6동','신월7동','신월동','신정1동','신정2동','신정3동','신정4동','신정6동','신정7동','신정동','서울양천우체국사서함'],
            '서울->영등포구' : ['당산동1가','당산동2가','당산동3가','당산동4가','당산동5가','당산동6가','당산동','대림1동','대림2동','대림3동','대림동','도림동','문래동1가','문래동2가','문래동3가','문래동4가','문래동5가','문래동6가','문래동','신길1동','신길3동','신길4동','신길5동','신길6동','신길7동','신길동','양평동1가','양평동2가','양평동3가','양평동4가','양평동5가','양평동6가','양평동','양화동','여의도동','영등포동1가','영등포동2가','영등포동3가','영등포동4가','영등포동5가','영등포동6가','영등포동7가','영등포동8가','영등포본동','영등포동','여의도우체국사서함','영등포우체국사서함'],
            '서울->용산구' : ['갈월동','남영동','도원동','동빙고동','동자동','문배동','보광동','산천동','서계동','서빙고동','신계동','신창동','용문동','용산동1가','용산동2가','용산동3가','용산동4가','용산동5가','용산동6가','원효로1가','원효로2가','원효로3가','원효로4가','이촌1동','이촌2동','이촌동','이태원1동','이태원2동','이태원동','주성동','청암동','청파동1가','청파동2가','청파동3가','한강로1가','한강로2가','한강로3가','한남동','효창동','후암동','서울용산우체국사서함','서울우편집중국사서함'],
            '서울->은평구' : ['갈현1동','갈현2동','갈현동','구산동','녹번동','대조동','불광1동','불광2동','불광동','수색동','신사1동','신사2동','신사동','역촌동','응암1동','응암2동','응암3동','응암동','증산동','진관동','서울은평우체국사서함'],
            '서울->종로구' : ['가회동','견지동','경운동','계동','공평동','관수동','관철동','관훈동','교남동','교북동','구기동','궁정동','권농동','낙원동','내수동','내자동','누상동','누하동','당주동','도렴동','돈의동','동숭동','명륜동1가','명륜동2가','명륜동3가','명륜동4가','묘동','무악동','봉익동','부암동','사간동','사직동','삼청동','서린동','세종로','소격동','송월동','송현동','수송동','숭인1동','숭인2동','숭인동','신교동','신문로1가','신문로2가','신영동','안국동','연건동','연지동','예지동','옥인동','와룡동','운니동','원남동','원서동','이화동','익선동','인사동','인의동','장사동','재동','적선동','종로1가','종로2가','종로3가','종로4가','종로5가','종로6가','중학동','창성동','창신1동','창신2동','창신3동','창신동','청운동','청진동','체부동','충신동','통의동','통인동','팔판동','평동','평창동','필운동','행촌동','혜화동','홍지동','홍파동','화동','효자동','효제동','훈정동','광화문우체국사서함'],
            '서울->중구' : ['광희동1가','광희동2가','남대문로1가','남대문로2가','남대문로3가','남대문로4가','남대문로5가','남산동1가','남산동2가','남산동3가','남창동','남학동','다동','만리동1가','만리동2가','명동1가','명동2가','무교동','무학동','묵정동','방산동','봉래동1가','봉래동2가','북창동','산림동','삼각동','서소문동','소공동','수표동','수하동','순화동','신당1동','신당2동','신당3동','신당4동','신당5동','신당6동','신당동','쌍림동','예관동','예장동','오장동','을지로1가','을지로2가','을지로3가','을지로4가','을지로5가','을지로6가','을지로7가','의주로1가','의주로2가','인현동1가','인현동2가','입정동','장교동','장충동1가','장충동2가','저동1가','저동2가','정동','주교동','주자동','중림동','초동','충무로1가','충무로2가','충무로3가','충무로4가','충무로5가','충정로1가','태평로1가','태평로2가','필동1가','필동2가','필동3가','황학동','회현동1가','회현동2가','회현동3가','흥인동','서울중앙우체국사서함'],
            '서울->중랑구' : ['망우3동','망우본동','망우동','면목2동','면목3.8동','면목4동','면목5동','면목7동','면목본동','면목동','묵1동','묵2동','묵동','상봉1동','상봉2동','상봉동','신내1동','신내2동','신내동','중화1동','중화2동','중화동','서울중랑우체국사서함'],
            '부산->강서구' : ['강동동','구랑동','녹산동','눌차동','대저1동','대저2동','대항동','동선동','명지동','미음동','범방동','봉림동','생곡동','성북동','송정동','식만동','신호동','죽동동','죽림동','지사동','천성동','화전동','부산강서우체국사서함'],
            '부산->금정구' : ['구서1동','구서2동','구서동','금사동','금성동','남산동','노포동','두구동','부곡1동','부곡2동','부곡3동','부곡4동','부곡동','서1동','서2동','서3동','서동','선동','오륜동','장전1동','장전2동','장전3동','장전동','청룡동','회동동','부산금정우체국사서함'],
            '부산->남구' : ['감만1동','감만2동','감만동','대연1동','대연2동','대연3동','대연4동','대연5동','대연6동','대연동','문현1동','문현2동','문현3동','문현4동','문현동','용당동','용호1동','용호2동','용호3동','용호4동','용호동','우암1동','우암2동','우암동'],
            '부산->동구' : ['범일1동','범일2동','범일4동','범일5동','범일동','수정1동','수정2동','수정4동','수정5동','수정동','좌천1동','좌천4동','좌천동','초량1동','초량2동','초량3동','초량6동','초량동','동부산우체국사서함'],
            '부산->동래구' : ['낙민동','명륜1동','명륜2동','명륜동','명장1동','명장2동','명장동','복천동','사직1동','사직2동','사직3동','사직동','수안동','안락1동','안락2동','안락동','온천1동','온천2동','온천3동','온천동','칠산동','동래우체국사서함'],
            '부산->부산진구' : ['가야1동','가야2동','가야3동','가야동','개금1동','개금2동','개금3동','개금동','당감1동','당감2동','당감3동','당감4동','당감동','범전동','범천1동','범천2동','범천4동','범천동','부암1동','부암3동','부암동','부전1동','부전2동','부전동','양정1동','양정2동','양정동','연지동','전포1동','전포2동','전포3동','전포동','초읍동','부산진우체국사서함'],
            '부산->북구' : ['구포1동','구포2동','구포3동','구포동','금곡동','덕천1동','덕천2동','덕천3동','덕천동','만덕1동','만덕2동','만덕3동','만덕동','화명1동','화명2동','화명3동','화명동','북부산우체국사서함'],
            '부산->사상구' : ['감전동','괘법동','덕포1동','덕포2동','덕포동','모라1동','모라3동','모라동','삼락동','엄궁동','주례1동','주례2동','주례3동','주례동','학장동','부산사상우체국사서함'],
            '부산->사하구' : ['감천1동','감천2동','감천동','괴정1동','괴정2동','괴정3동','괴정4동','괴정동','구평동','다대1동','다대2동','다대동','당리동','신평1동','신평2동','신평동','장림1동','장림2동','장림동','하단1동','하단2동','하단동','부산사하우체국사서함'],
            '부산->서구' : ['남부민1동','남부민2동','남부민동','동대신동1가','동대신동2가','동대신동3가','부민동1가','부민동2가','부민동3가','부민동','부용동1가','부용동2가','부용동','서대신동1가','서대신동2가','서대신동3가','아미동1가','아미동2가','아미동','암남동','초장동','충무동1가','충무동2가','충무동3가','충무동','토성동1가','토성동2가','토성동3가','토성동4가','토성동5가','토성동'],
            '부산->수영구' : ['광안1동','광안2동','광안3동','광안4동','광안동','남천1동','남천2동','남천동','망미1동','망미2동','망미동','민락동','수영동','남부산우체국사서함'],
            '부산->연제구' : ['거제1동','거제2동','거제3동','거제4동','거제동','연산1동','연산2동','연산3동','연산4동','연산5동','연산6동','연산8동','연산9동','연산동'],
            '부산->영도구' : ['남항동1가','남항동2가','남항동3가','남항동','대교동1가','대교동2가','대교동','대평동1가','대평동2가','대평동','동삼1동','동삼2동','동삼3동','동삼동','봉래동1가','봉래동2가','봉래동3가','봉래동4가','봉래동5가','봉래동','신선동1가','신선동2가','신선동3가','신선동','영선동1가','영선동2가','영선동3가','영선동4가','영선동','청학1동','청학2동','청학동','부산영도우체국사서함'],
            '부산->중구' : ['광복동1가','광복동2가','광복동3가','광복동','남포동1가','남포동2가','남포동3가','남포동4가','남포동5가','남포동6가','남포동','대창동1가','대창동2가','대창동','대청동1가','대청동2가','대청동3가','대청동4가','대청동','동광동1가','동광동2가','동광동3가','동광동4가','동광동5가','동광동','보수동1가','보수동2가','보수동3가','보수동','부평동1가','부평동2가','부평동3가','부평동4가','부평동','신창동1가','신창동2가','신창동3가','신창동4가','신창동','영주1동','영주2동','영주동','중앙동1가','중앙동2가','중앙동3가','중앙동4가','중앙동5가','중앙동6가','중앙동7가','중앙동','창선동1가','창선동2가','창선동','부산우체국사서함'],
            '부산->해운대구' : ['반송1동','반송2동','반송3동','반송동','반여1동','반여2동','반여3동','반여4동','반여동','석대동','송정동','우1동','우2동','우동','재송1동','재송2동','재송동','좌1동','좌2동','좌3동','좌4동','좌동','중1동','중2동','중동','해운대우체국사서함'],
            '부산->기장군' : ['기장읍','장안읍','일광면','정관면','철마면'],
            '대구->남구' : ['대명1동','대명2동','대명3동','대명4동','대명5동','대명6동','대명9동','대명10동','대명11동','대명동','봉덕1동','봉덕2동','봉덕3동','봉덕동','이천동','남대구우체국사서함'],
            '대구->달서구' : ['갈산동','감삼동','대곡동','대천동','도원동','두류1동','두류2동','두류3동','두류동','본동','본리동','상인1동','상인2동','상인3동','상인동','성당1동','성당2동','성당동','송현1동','송현2동','송현동','신당동','용산1동','용산2동','용산동','월성1동','월성2동','월성동','월암동','유천동','이곡1동','이곡2동','이곡동','장동','장기동','죽전동','진천동','파호동','호림동','호산동','대구달서우체국사서함','대구성서우체국사서함'],
            '대구->동구' : ['각산동','검사동','괴전동','금강동','내곡동','내동','능성동','대림동','덕곡동','도동','도학동','동내동','동호동','둔산동','매여동','미곡동','미대동','방촌동','백안동','봉무동','부동','불로동','사복동','상매동','서호동','송정동','숙천동','신기동','신무동','신서동','신암1동','신암2동','신암3동','신암4동','신암5동','신암동','신용동','신천1.2동','신천3동','신천4동','신천동','신평동','용계동','용수동','율암동','율하동','입석동','중대동','지묘동','지저동','진인동','평광동','효목1동','효목2동','효목동','동대구우체국사서함'],
            '대구->북구' : ['검단동','고성동1가','고성동2가','고성동3가','관음동','구암동','국우동','금호동','노곡동','노원동1가','노원동2가','노원동3가','대현1동','대현2동','대현동','도남동','동변동','동천동','동호동','매천동','복현1동','복현2동','복현동','사수동','산격1동','산격2동','산격3동','산격4동','산격동','서변동','연경동','읍내동','조야동','칠성동1가','칠성동2가','침산1동','침산2동','침산3동','침산동','태전1동','태전2동','태전동','팔달동','학정동','북대구우체국사서함'],
            '대구->서구' : ['내당1동','내당2.3동','내당4동','내당동','비산1동','비산2.3동','비산4동','비산5동','비산6동','비산7동','비산동','상리동','원대동1가','원대동2가','원대동3가','이현동','중리동','평리1동','평리2동','평리3동','평리4동','평리5동','평리6동','평리동','서대구우체국사서함'],
            '대구->수성구' : ['가천동','고모동','노변동','대흥동','두산동','만촌1동','만촌2동','만촌3동','만촌동','매호동','범물1동','범물2동','범물동','범어1동','범어2동','범어3동','범어4동','범어동','사월동','삼덕동','상동','성동','수성동1가','수성동2가','수성동3가','수성동4가','시지동','신매동','연호동','욱수동','이천동','중동','지산1동','지산2동','지산동','파동','황금1동','황금2동','황금동','대구수성우체국사서함'],
            '대구->중구' : ['계산동1가','계산동2가','공평동','교동','남산1동','남산2동','남산3동','남산4동','남산동','남성로','남일동','달성동','대봉1동','대봉2동','대봉동','대신동','대안동','덕산동','도원동','동문동','동산동','동성로1가','동성로2가','동성로3가','동인동1가','동인동2가','동인동3가','동인동4가','동일동','문화동','봉산동','북내동','북성로1가','북성로2가','사일동','삼덕동1가','삼덕동2가','삼덕동3가','상덕동','상서동','서내동','서문로1가','서문로2가','서성로1가','서성로2가','서야동','수동','수창동','시장북로','완전동','용덕동','인교동','장관동','전동','종로1가','종로2가','태평로1가','태평로2가','태평로3가','포정동','하서동','향촌동','화전동','대구우체국사서함'],
            '대구->달성군' : ['논공읍','다사읍','화원읍','가창면','구지면','옥포면','유가면','하빈면','현풍면'],
            '인천->계양구' : ['갈현동','계산1동','계산2동','계산3동','계산4동','계산동','귤현동','노오지동','다남동','동양동','둑실동','목상동','박촌동','방축동','병방동','상야동','서운동','선주지동','오류동','용종동','이화동','임학동','작전1동','작전2동','작전동','작전서운동','장기동','평동','하야동','효성1동','효성2동','효성동','인천계양우체국사서함'],
            '인천->남구' : ['관교동','도화1동','도화2동','도화3동','도화동','문학동','숭의1동','숭의2동','숭의3동','숭의4동','숭의동','용현1동','용현2동','용현3동','용현4동','용현5동','용현동','주안1동','주안2동','주안3동','주안4동','주안5동','주안6동','주안7동','주안8동','주안동','학익1동','학익2동','학익동'],
            '인천->남동구' : ['간석1동','간석2동','간석3동','간석4동','간석동','고잔동','구월1동','구월2동','구월3동','구월4동','구월동','남촌동','논현동','도림동','만수1동','만수2동','만수3동','만수4동','만수5동','만수6동','만수동','서창동','수산동','운연동','장수동','남인천우체국사서함'],
            '인천->동구' : ['금곡동','만석동','송림1동','송림2동','송림3동','송림4동','송림5동','송림6동','송림동','송현1동','송현2동','송현3동','송현동','창영동','화수1동','화수2동','화수동','화평동'],
            '인천->부평구' : ['갈산1동','갈산2동','갈산동','구산동','부개1동','부개2동','부개3동','부개동','부평1동','부평2동','부평3동','부평4동','부평5동','부평6동','부평동','산곡1동','산곡2동','산곡3동','산곡4동','산곡동','삼산1동','삼산2동','삼산동','십정1동','십정2동','십정동','일신동','청천1동','청천2동','청천동','북인천우체국사서함'],
            '인천->서구' : ['가정1동','가정2동','가정3동','가정동','가좌1동','가좌2동','가좌3동','가좌4동','가좌동','검암동','경서동','공촌동','금곡동','당하동','대곡동','마전동','백석동','불로동','석남1동','석남2동','석남3동','석남동','시천동','신현동','심곡동','연희동','오류동','왕길동','원당동','원창동','서인천우체국사서함'],
            '인천->연수구' : ['동춘1동','동춘2동','동춘3동','동춘동','선학동','송도동','연수1동','연수2동','연수3동','연수동','옥련1동','옥련2동','옥련동','청학동','인천우체국사서함'],
            '인천->중구' : ['경동','관동1가','관동2가','관동3가','남북동','내동','답동','덕교동','도원동','무의동','북성동1가','북성동2가','북성동3가','사동','선린동','선화동','송월동1가','송월동2가','송월동3가','송학동1가','송학동2가','송학동3가','신생동','신포동','신흥동1가','신흥동2가','신흥동3가','용동','운남동','운북동','운서동','유동','율목동','을왕동','인현동','전동','중산동','중앙동1가','중앙동2가','중앙동3가','중앙동4가','항동1가','항동2가','항동3가','항동4가','항동5가','항동6가','항동7가','해안동1가','해안동2가','해안동3가','해안동4가','인천공항우체국사서함'],
            '인천->강화군' : ['강화읍','교동면','길상면','내가면','불은면','삼산면','서도면','선원면','송해면','양도면','양사면','하점면','화도면'],
            '인천->옹진군' : ['대청면','덕적면','백령면','북도면','연평면','영흥면','자월면'],
            '광주->광산구' : ['고룡동','광산동','남산동','내산동','대산동','덕림동','도덕동','도산동','도천동','도호동','동림동','동산동','동호동','두정동','등임동','명도동','명화동','박호동','복룡동','본덕동','북산동','비아동','사호동','산막동','산수동','산월동','산정동','삼거동','삼도동','서봉동','선동','선암동','소촌동','송대동','송산동','송정1동','송정2동','송정동','송촌동','송치동','송학동','수완동','신동','신가동','신창동','신룡동','신촌동','쌍암동','안청동','양동','양산동','연산동','오산동','오선동','오운동','옥동','왕동','요기동','용곡동','용동','용봉동','우산동','운남동','운수동','월계동','월곡1동','월곡2동','월곡동','월전동','유계동','임곡동','장덕동','장록동','장수동','지산동','지정동','지죽동','지평동','진곡동','하남동','하산동','황룡동','흑석동','광주광산우체국사서함'],
            '광주->남구' : ['구동','구소동','노대동','대지동','덕남동','도금동','방림1동','방림2동','방림동','백운1동','백운2동','백운동','봉선1동','봉선2동','봉선동','사동','서1동','서2동','서동','석정동','송하동','승촌동','신장동','압촌동','양과동','양림동','양촌동','원산동','월산1동','월산2동','월산3동','월산4동','월산5동','월산동','월성동','이장동','임암동','주월1동','주월2동','주월동','지석동','진월동','칠석동','행암동','화장동'],
            '광주->동구' : ['계림1동','계림2동','계림동','광산동','궁동','금남로1가','금남로2가','금남로3가','금남로4가','금남로5가','금동','남동','내남동','대의동','대인동','동명동','불로동','산수1동','산수2동','산수동','서석동','선교동','소태동','수기동','용산동','용연동','운림동','월남동','장동','지산1동','지산2동','지산동','충장로1가','충장로2가','충장로3가','충장로4가','충장로5가','학동','호남동','황금동','광주우체국사서함'],
            '광주->북구' : ['각화동','금곡동','누문동','대촌동','덕의동','동림동','두암1동','두암2동','두암3동','두암동','망월동','매곡동','문흥1동','문흥2동','문흥동','본촌동','북동','삼각동','생용동','수곡동','신안동','신용동','양산동','연제동','오룡동','오치1동','오치2동','오치동','용강동','용두동','용봉동','용전동','우산동','운암1동','운암2동','운암3동','운암동','운정동','월출동','유동','일곡동','임동','장등동','중흥1동','중흥2동','중흥3동','중흥동','지야동','청풍동','충효동','태령동','풍향동','화암동','효령동','북광주우체국사서함'],
            '광주->서구' : ['광천동','금호동','내방동','농성1동','농성2동','농성동','덕흥동','마륵동','매월동','벽진동','상무1동','상무2동','상무동','서창동','세하동','쌍촌동','양1동','양2동','양3동','양동','용두동','유촌동','치평동','풍암동','화정1동','화정2동','화정3동','화정4동','화정동','서광주우체국사서함'],
            '대전->대덕구' : ['갈전동','대화동','덕암동','목상동','문평동','미호동','법1동','법2동','법동','부수동','비래동','삼정동','상서동','석봉동','송촌동','신대동','신일동','신탄진동','연축동','오정동','와동','용호동','읍내동','이현동','장동','중리동','평촌동','황호동','대전대덕우체국사서함'],
            '대전->동구' : ['가양1동','가양2동','가양동','가오동','구도동','낭월동','내탑동','대1동','대2동','대동','대별동','대성동','마산동','비룡동','사성동','삼괴동','삼성동','삼정동','상소동','성남동','세천동','소제동','소호동','신상동','신안동','신촌동','신하동','신흥동','오동','용계동','용운동','용전동','원동','이사동','인동','자양동','장척동','정동','주산동','주촌동','중동','직동','천동','추동','판암1동','판암2동','판암동','하소동','홍도동','효동','효평동','대전우체국사서함'],
            '대전->서구' : ['가수원동','가장동','갈마1동','갈마2동','갈마동','관저1동','관저2동','관저동','괴곡동','괴정동','내동','도마1동','도마2동','도마동','도안동','둔산1동','둔산2동','둔산3동','둔산동','만년동','매노동','변동','복수동','봉곡동','산직동','오동','용문동','용촌동','우명동','원정동','월평1동','월평2동','월평3동','월평동','장안동','정림동','탄방동','평촌동','흑석동','대전둔산우체국사서함'],
            '대전->유성구' : ['가정동','갑동','계산동','관평동','교촌동','구룡동','구성동','구암동','궁동','금고동','금탄동','노은동','대동','대정동','덕명동','덕진동','도룡동','둔곡동','문지동','반석동','방동','방현동','복용동','봉명동','봉산동','상대동','성북동','세동','송강동','송정동','수남동','신동','신봉동','신성동','안산동','어은동','외삼동','용계동','용산동','원내동','원신흥동','원촌동','자운동','장동','장대동','전민동','죽동','지족동','추목동','탑립동','하기동','학하동','화암동','대전유성우체국사서함'],
            '대전->중구' : ['구완동','금동','대사동','대흥동','목동','목달동','무수동','문창동','문화1동','문화2동','문화동','부사동','사정동','산성동','석교동','선화동','안영동','어남동','오류동','옥계동','용두동','유천1동','유천2동','유천동','은행동','정생동','중촌동','침산동','태평1동','태평2동','태평동','호동','서대전우체국사서함'],
            '울산->남구' : ['개운동','고사동','남화동','달동','두왕동','매암동','무거동','부곡동','삼산동','상개동','선암동','성암동','신정1동','신정2동','신정3동','신정4동','신정5동','신정동','야음동','여천동','옥동','용연동','용잠동','장생포동','황성동','남울산우체국사서함'],
            '울산->동구' : ['대송동','동부동','방어동','서부동','일산동','전하1동','전하2동','전하동','주전동','화정동','동울산우체국사서함'],
            '울산->북구' : ['가대동','구유동','달천동','당사동','대안동','매곡동','명촌동','무룡동','산하동','상안동','송정동','시례동','신명동','신천동','신현동','양정동','어물동','연암동','염포동','정자동','중산동','진장동','창평동','천곡동','호계동','화봉동','효문동'],
            '울산->중구' : ['교동','남외동','다운동','동동','반구1동','반구2동','반구동','복산1동','복산2동','복산동','북정동','서동','성남동','성안동','약사동','옥교동','우정동','유곡동','장현동','태화동','학산동','학성동','울산우체국사서함'],
            '울산->울주군' : ['범서읍','언양읍','온산읍','온양읍','두동면','두서면','삼남면','삼동면','상북면','서생면','웅촌면','청량면'],
            '강원->강릉시' : ['강문동','견소동','교1동','교2동','교동','금학동','난곡동','남문동','남항진동','내곡동','노암동','담산동','대전동','두산동','명주동','박월동','병산동','성남동','성내동','송정동','신석동','안현동','옥천동','용강동','운산동','운정동','월호평동','유산동','유천동','임당동','입암동','장현동','저동','죽헌동','지변동','청량동','초당동','포남1동','포남2동','포남동','학동','홍제동','회산동','주문진읍','강동면','구정면','사천면','성산면','연곡면','옥계면','왕산면','강릉우체국사서함'],
            '강원->동해시' : ['괴란동','구미동','구호동','귀운동','나안동','내동','단봉동','달방동','대구동','대진동','동호동','동회동','만우동','망상동','묵호진동','발한동','부곡동','북평동','비천동','삼화동','송정동','쇄운동','신흥동','심곡동','어달동','용정동','이기동','이도동','이로동','지가동','지흥동','천곡동','초구동','추암동','평릉동','호현동','효가동','동해우체국사서함'],
            '강원->삼척시' : ['갈천동','건지동','교동','근산동','남양동','당저동','도경동','등봉동','마달동','마평동','사직동','성남동','성내동','성북동','오분동','오사동','우지동','원당동','읍상동','읍중동','자원동','적노동','정상동','정하동','조비동','증산동','평전동','도계읍','원덕읍','가곡면','근덕면','노곡면','미로면','신기면','하장면','삼척우체국사서함'],
            '강원->속초시' : ['교동','금호동','노학동','대포동','도문동','동명동','설악동','영랑동','장사동','조양동','중앙동','청학동','청호동','속초우체국사서함'],
            '강원->원주시' : ['가현동','개운동','관설동','단계동','단구동','명륜1동','명륜2동','명륜동','무실동','반곡동','봉산동','우산동','원동','인동','일산동','중앙동','태장1동','태장2동','태장동','평원동','학성동','행구동','문막읍','귀래면','부론면','소초면','신림면','지정면','판부면','호저면','흥업면','원주우체국사서함'],
            '강원->춘천시' : ['교동','근화동','낙원동','봉의동','사농동','삼천동','석사동','소양로1가','소양로2가','소양로3가','소양로4가','송암동','신동','약사동','옥천동','온의동','요선동','우두동','운교동','조양동','죽림동','중도동','중앙로1가','중앙로2가','중앙로3가','칠전동','퇴계동','효자1동','효자2동','효자3동','효자동','후평1동','후평2동','후평3동','후평동','신북읍','남면','남산면','동면','동내면','동산면','북산면','사북면','서면','신동면','춘천우체국사서함'],
            '강원->태백시' : ['구문소동','금천동','동점동','문곡동','백산동','삼수동','상사미동','상장동','황지동','소도동','원동','장성동','적각동','조탄동','창죽동','철암동','통동','하사미동','혈동','화전동','황연동','태백우체국사서함'],
            '강원->고성군' : ['간성읍','거진읍','죽왕면','토성면','현내면'],
            '강원->양구군' : ['양구읍','남면','동면','방산면','해안면'],
            '강원->양양군' : ['양양읍','강현면','서면','손양면','현남면','현북면'],
            '강원->영월군' : ['상동읍','영월읍','김삿갓면','남면','북면','수주면','주천면','중동면','한반도면'],
            '강원->인제군' : ['인제읍','기린면','남면','북면','상남면','서화면'],
            '강원->정선군' : ['고한읍','사북읍','신동읍','정선읍','남면','북평면','여량면','임계면','화암면'],
            '강원->철원군' : ['갈말읍','동송읍','김화읍','근북면','철원읍','근남면','서면'],
            '강원->평창군' : ['평창읍','대관령면','대화면','미탄면','방림면','봉평면','용평면','진부면'],
            '강원->홍천군' : ['홍천읍','남면','내면','내촌면','동면','두촌면','북방면','서면','서석면','화촌면'],
            '강원->화천군' : ['화천읍','간동면','사내면','상서면','하남면'],
            '강원->횡성군' : ['횡성읍','갑천면','강림면','공근면','둔내면','서원면','안흥면','우천면','청일면'],
            '경기->고양시 덕양구' : ['강매동','고양동','관산동','내곡동','내유동','대자동','대장동','덕은동','도내동','동산동','벽제동','북한동','삼송동','선유동','성사1동','성사2동','성사동','신원동','신평동','오금동','용두동','원당동','원흥동','주교동','지축동','토당동','행신1동','행신2동','행신3동','행신동','행주내동','행주외동','향동동','현천동','화전동','화정1동','화정2동','화정동','효자동','고양덕양우체국사서함'],
            '경기->고양시 일산동구' : ['마두1동','마두2동','마두동','문봉동','백석1동','백석2동','백석동','사리현동','산황동','설문동','성석동','식사동','장항1동','장항2동','장항동','정발산동','중산동','지영동','풍동','고양우편집중국사서함','고양일산우체국사서함'],
            '경기->고양시 일산서구' : ['가좌동','구산동','대화동','덕이동','법곳동','일산1동','일산2동','일산3동','일산동','주엽1동','주엽2동','주엽동','탄현동'],
            '경기->과천시' : ['갈현동','과천동','관문동','막계동','문원동','별양동','부림동','원문동','주암동','중앙동','과천우체국사서함'],
            '경기->광명시' : ['가학동','광명1동','광명2동','광명3동','광명4동','광명5동','광명6동','광명7동','광명동','노온사동','소하1동','소하2동','소하동','옥길동','일직동','철산1동','철산2동','철산3동','철산4동','철산동','하안1동','하안2동','하안3동','하안4동','하안동','광명우체국사서함'],
            '경기->광주시' : ['경안동','목동','목현동','삼동','송정동','쌍령동','역동','장지동','중대동','직동','탄벌동','태전동','회덕동','실촌읍','오포읍','초월읍','남종면','도척면','중부면','퇴촌면'],
            '경기->구리시' : ['갈매동','교문1동','교문2동','교문동','동구동','사노동','수택1동','수택2동','수택3동','수택동','아천동','인창동','토평동','구리우체국사서함'],
            '경기->군포시' : ['광정동','군포1동','군포2동','궁내동','금정동','당동','당정동','대야미동','도마교동','둔대동','부곡동','산본1동','산본2동','산본동','속달동','수리동','오금동','재궁동','군포우체국사서함'],
            '경기->김포시' : ['감정동','걸포동','구래동','마산동','북변동','사우동','운양동','장기동','풍무동','고촌읍','통진읍','대곶면','양촌면','월곶면','하성면'],
            '경기->남양주시' : ['가운동','금곡동','도농동','삼패동','수석동','양정동','이패동','일패동','지금동','평내동','호평동','오남읍','와부읍','진건읍','진접읍','화도읍','별내면','수동면','조안면','퇴계원면'],
            '경기->동두천시' : ['걸산동','광암동','동두천동','보산동','상봉암동','상패동','생연1동','생연2동','생연동','송내동','안흥동','중앙동','지행동','탑동동','하봉암동','동두천우체국사서함'],
            '경기->부천시 소사구' : ['계수동','괴안동','범박동','소사본1동','소사본2동','소사본3동','소사본동','송내1동','송내2동','송내동','심곡본1동','심곡본동','역곡3동','옥길동','남부천우체국사서함'],
            '경기->부천시 오정구' : ['고강1동','고강본동','고강동','내동','대장동','삼정동','여월동','오정동','원종1동','원종2동','원종동','작동','부천우편집중국사서함'],
            '경기->부천시 원미구' : ['도당동','상1동','상2동','상3동','상동','소사동','심곡1동','심곡2동','심곡3동','심곡동','약대동','역곡1동','역곡2동','역곡동','원미1동','원미2동','원미동','중1동','중2동','중3동','중4동','중동','춘의동','부천우체국사서함'],
            '경기->성남시 분당구' : ['구미동','궁내동','금곡동','대장동','동원동','백현동','분당동','삼평동','서현동','석운동','수내동','야탑동','운중동','율동','이매동','정자동','판교동','하산운동','성남분당우체국사서함','성남우편집중국사서함'],
            '경기->성남시 수정구' : ['고등동','금토동','단대동','둔전동','복정동','사송동','산성동','상적동','수진1동','수진2동','수진동','시흥동','신촌동','신흥1동','신흥2동','신흥3동','신흥동','심곡동','양지동','오야동','창곡동','태평1동','태평2동','태평3동','태평4동','태평동','성남우체국사서함'],
            '경기->성남시 중원구' : ['갈현동','금광1동','금광2동','금광동','도촌동','상대원1동','상대원2동','상대원3동','상대원동','성남동','여수동','은행1동','은행2동','은행동','중동','하대원동'],
            '경기->수원시 권선구' : ['고색동','곡반정동','구운동','권선동','금곡동','당수동','대황교동','서둔동','세류1동','세류2동','세류3동','세류동','오목천동','입북동','장지동','탑동','평동','평리동','호매실동'],
            '경기->수원시 영통구' : ['망포동','매탄1동','매탄2동','매탄3동','매탄4동','매탄동','신동','영통1동','영통2동','영통동','원천동','이의동','하동'],
            '경기->수원시 장안구' : ['상광교동','송죽동','연무동','영화동','율전동','이목동','정자1동','정자2동','정자3동','정자동','조원동','천천동','파장동','하광교동','수원우체국사서함'],
            '경기->수원시 팔달구' : ['고등동','교동','구천동','남수동','남창동','매교동','매산로1가','매산로2가','매산로3가','매향동','북수동','신풍동','영동','우만1동','우만2동','우만동','인계동','장안동','중동','지동','팔달로1가','팔달로2가','팔달로3가','화서1동','화서2동','화서동','동수원우체국사서함'],
            '경기->시흥시' : ['거모동','계수동','과림동','광석동','군자동','금이동','논곡동','능곡동','대야동','도창동','매화동','목감동','무지내동','물왕동','미산동','방산동','산현동','신천동','안현동','월곶동','은행동','장곡동','장현동','정왕1동','정왕2동','정왕4동','정왕3동','정왕본동','정왕동','조남동','죽율동','포동','하상동','하중동','화정동','시흥우체국사서함'],
            '경기->안산시 단원구' : ['고잔1동','고잔동','고잔2동','대부남동','대부동동','대부북동','목내동','선감동','선부1동','선부2동','선부3동','선부동','성곡동','신길동','와동','원곡1동','원곡2동','원곡동','원시동','초지동','풍도동','화정동','안산우체국사서함'],
            '경기->안산시 상록구' : ['건건동','본오1동','본오2동','본오3동','본오동','부곡동','사1동','사2동','사3동','사동','사사동','성포동','수암동','양상동','월피동','이동','일동','장상동','장하동','팔곡일동','팔곡이동'],
            '경기->안성시' : ['가사동','가현동','계동','구포동','금산동','금석동','낙원동','당왕동','대천동','도기동','동본동','명륜동','발화동','봉남동','봉산동','사곡동','서인동','석정동','성남동','숭인동','신건지동','신모산동','신소현동','신흥동','아양동','연지동','영동','옥산동','옥천동','인지동','중리동','창전동','현수동','공도읍','고삼면','금광면','대덕면','미양면','보개면','삼죽면','서운면','양성면','원곡면','일죽면','죽산면','안성우체국사서함'],
            '경기->안양시 동안구' : ['갈산동','관양1동','관양2동','관양동','귀인동','달안동','범계동','부림동','부흥동','비산1동','비산2동','비산3동','비산동','신촌동','평안동','평촌동','호계1동','호계2동','호계3동','호계동','안양우체국사서함','안양우편집중국사서함'],
            '경기->안양시 만안구' : ['박달1동','박달2동','박달동','석수1동','석수2동','석수3동','석수동','안양1동','안양2동','안양3동','안양4동','안양5동','안양6동','안양7동','안양8동','안양9동','안양동','서안양우체국사서함'],
            '경기->양주시' : ['고암동','고읍동','광사동','남방동','덕계동','덕정동','마전동','만송동','백석읍','봉양동','산북동','삼숭동','어둔동','옥정동','유양동','율정동','회암동','회정동','광적면','남면','은현면','장흥면'],
            '경기->오산시' : ['가수동','가장동','갈곶동','고현동','궐동','금암동','내삼미동','누읍동','두곡동','벌음동','부산동','서동','서랑동','세교동','수청동','양산동','오산동','외삼미동','원동','은계동','지곶동','청학동','청호동','탑동','오산우체국사서함'],
            '경기->용인시 기흥구' : ['고매동','공세동','구갈동','농서동','동백동','마북동','보라동','보정동','상갈동','상하동','서천동','신갈동','언남동','영덕동','중동','지곡동','청덕동','하갈동'],
            '경기->용인시 수지구' : ['고기동','동천동','상현1동','상현2동','상현동','성복동','죽전1동','신봉동','죽전2동','죽전동','풍덕천1동','풍덕천2동','풍덕천동','용인수지우체국사서함'],
            '경기->용인시 처인구' : ['고림동','김량장동','남동','마평동','삼가동','역북동','운학동','유방동','해곡동','호동','포곡읍','남사면','모현면','백암면','양지면','원삼면','이동면','용인우체국사서함'],
            '경기->의왕시' : ['고천동','내손1동','내손2동','내손동','삼동','오전동','왕곡동','월암동','이동','청계동','초평동','포일동','학의동'],
            '경기->의정부시' : ['가능1동','가능2동','가능3동','가능동','고산동','금오동','낙양동','녹양동','민락동','산곡동','신곡1동','신곡2동','신곡동','용현동','의정부1동','의정부2동','의정부3동','의정부동','자일동','장암동','호원1동','호원2동','호원동','의정부우체국사서함'],
            '경기->이천시' : ['갈산동','고담동','관고동','단월동','대포동','사음동','송정동','안흥동','율현동','장록동','중리동','증일동','증포동','진리동','창전동','부발읍','장호원읍','대월면','마장면','모가면','백사면','설성면','신둔면','율면','호법면','이천우체국사서함'],
            '경기->파주시' : ['검산동','금능동','금촌1동','금촌2동','금촌동','맥금동','아동동','야동동','문산우체국사서함','파주우체국사서함','교하읍','문산읍','법원읍','조리읍','파주읍','광탄면','군내면','월롱면','장단면','적성면','진동면','진서면','탄현면','파평면'],
            '경기->평택시' : ['가재동','군문동','도일동','독곡동','동삭동','모곡동','비전1동','비전2동','비전동','서정동','세교동','소사동','신대동','신장1동','신장2동','신장동','용이동','월곡동','유천동','이충동','장당동','장안동','죽백동','지산동','지제동','청룡동','칠괴동','칠원동','통복동','평택동','합정동','안중읍','팽성읍','포승읍','고덕면','서탄면','오성면','진위면','청북면','현덕면','송탄우체국사서함','평택우체국사서함'],
            '경기->포천시' : ['동교동','선단동','설운동','신읍동','어룡동','자작동','소흘읍','가산면','관인면','군내면','내촌면','신북면','영북면','영중면','이동면','일동면','창수면','화현면'],
            '경기->하남시' : ['감북동','감이동','감일동','광암동','교산동','덕풍1동','덕풍2동','덕풍3동','덕풍동','망월동','미사동','배알미동','상사창동','상산곡동','선동','신장1동','신장2동','신장동','창우동','천현동','초이동','초일동','춘궁동','풍산동','하사창동','하산곡동','학암동','항동'],
            '경기->화성시' : ['기산동','기안동','남양동','능동','무송동','문호동','반송동','반월동','반정동','배양동','병점동','북양동','석우동','송림동','송산동','수화동','시동','신남동','신외동','안녕동','안석동','온석동','원천동','장덕동','장전동','진안동','활초동','황계동','봉담읍','우정읍','향남읍','동탄면','마도면','매송면','비봉면','서신면','송산면','양감면','장안면','정남면','팔탄면'],
            '경기->가평군' : ['가평읍','북면','상면','설악면','청평면','하면'],
            '경기->양평군' : ['양평읍','강상면','강하면','개군면','단월면','서종면','양동면','양서면','옥천면','용문면','지평면','청운면'],
            '경기->여주군' : ['여주읍','가남면','강천면','금사면','능서면','대신면','북내면','산북면','점동면','흥천면'],
            '경기->연천군' : ['연천읍','전곡읍','군남면','미산면','백학면','신서면','왕징면','장남면','중면','청산면'],
            '경남->거제시' : ['고현동','능포동','덕포동','두모동','마전동','문동동','삼거동','상동동','수월동','아양동','아주동','양정동','옥포1동','옥포2동','옥포동','장승포동','장평동','거제면','남부면','동부면','둔덕면','사등면','연초면','일운면','장목면','하청면','장승포우체국사서함'],
            '경남->김해시' : ['강동','구산동','내동','대성동','동상동','명법동','봉황동','부원동','불암동','삼계동','삼방동','삼정동','서상동','안동','어방동','외동','이동','전하동','지내동','풍유동','화목동','흥동','진영읍','대동면','상동면','생림면','장유면','주촌면','진례면','한림면','김해우체국사서함'],
            '경남->마산시' : ['가포동','교방동','교원동','구암1동','구암2동','구암동','남성동','대내동','대성동1가','대성동2가','대외동','대창동','덕동동','동성동','두월동1가','두월동2가','두월동3가','두척동','문화동','반월동','봉암동','합성2동','부림동','산호동','상남1동','상남2동','상남동','서성동','석전1동','석전2동','석전동','성호동','수성동','신월동','신창동','신포동1가','신포동2가','신흥동','양덕1동','양덕2동','양덕동','예곡동','오동동','완월동','우산동','월남동1가','월남동2가','월남동3가','월남동4가','월남동5가','월영1동','월영2동','월영동','월포동','유록동','자산동','장군동1가','장군동2가','장군동3가','장군동4가','장군동5가','중성동','중앙동1가','중앙동2가','중앙동3가','창동','창포동1가','창포동2가','창포동3가','청계동','추산동','평화동','합성1동','합성동','해운동','현동','홍문동','화영동','회성동','회원1동','회원2동','회원동','내서읍','구산면','진동면','진북면','진전면','마산수출지역우체국사서함','마산우체국사서함','마산합포우체국사서함'],
            '경남->밀양시' : ['가곡동','교동','남포동','내이동','내일동','삼문동','용평동','활성동','삼랑진읍','하남읍','단장면','무안면','부북면','산내면','산외면','상남면','상동면','청도면','초동면','밀양우체국사서함'],
            '경남->사천시' : ['궁지동','노룡동','늑도동','대방동','대포동','동금동','동동','동림동','마도동','백천동','벌리동','봉남동','사등동','서금동','서동','선구동','송포동','신벽동','신수동','실안동','와룡동','용강동','이금동','이홀동','좌룡동','죽림동','향촌동','사천읍','곤명면','곤양면','사남면','서포면','용현면','정동면','축동면','삼천포우체국사서함'],
            '경남->양산시' : ['교동','남부동','다방동','덕계동','매곡동','명곡동','명동','북부동','북정동','산막동','삼호동','소주동','신기동','어곡동','용당동','유산동','주남동','주진동','중부동','평산동','호계동','물금읍','동면','상북면','원동면','하북면','양산우체국사서함'],
            '경남->진주시' : ['가좌동','강남동','계동','귀곡동','남성동','대안동','동성동','망경동','본성동','봉곡동','봉래동','상대1동','상대2동','상대동','상봉동동','상봉서동','상봉동','상평동','수정동','신안동','옥봉동','유곡동','이현동','인사동','장대동','장재동','주약동','중안동','초전동','칠암동','판문동','평거동','평안동','하대1동','하대2동','하대동','하촌동','호탄동','문산읍','금곡면','금산면','내동면','대곡면','대평면','명석면','미천면','사봉면','수곡면','이반성면','일반성면','정촌면','지수면','진성면','집현면','진주우체국사서함'],
            '경남->진해시' : ['가주동','경화동','광화동','근화동','남문동','남빈동','남양동','대영동','대장동','대죽동','대천동','대흥동','덕산동','도만동','도천동','동상동','두동','마천동','명동','무송동','부흥동','북부동','비봉동','서중동','석동','성내동','소사동','속천동','송죽동','송학동','수도동','수송동','숭인동','신흥동','안곡동','안골동','앵곡동','여좌동','연도동','용원동','원포동','이동','익선동','인사동','인의동','자은동','장천동','제덕동','제황산동','죽곡동','중앙동','중평동','창선동','청안동','충무동','충의동','태백동','태평동','통신동','평안동','풍호동','행암동','현동','화천동','회현동','진해우체국사서함'],
            '경남->창원시' : ['가음동','가음정동','귀곡동','귀산동','귀현동','남산동','남양동','남지동','내동','내리동','대방동','대원동','덕정동','도계동','동정동','두대동','명곡동','명서동','반계동','반림동','반송동','반지동','봉곡동','봉림동','북동','불모산동','사림동','사파동','사파정동','사화동','삼동동','삼정자동','상남동','상복동','서곡동','서상동','성산동','성주동','소계동','소답동','신월동','신촌동','안민동','양곡동','완암동','외동','용동','용호동','용지동','웅남동','월림동','적현동','중동','중앙동','지귀동','차룡동','창곡동','천선동','토월동','퇴촌동','팔용동','동읍','대산면','북면','창원우체국사서함'],
            '경남->통영시' : ['당동','도남동','도천동','동호동','명정동','무전동','문화동','미수1동','미수2동','미수동','봉평동','북신동','서호동','인평동','정량동','중앙동','태평동','평림동','항남동','산양읍','광도면','도산면','사량면','욕지면','용남면','한산면','통영우체국사서함'],
            '경남->거창군' : ['거창읍','가북면','가조면','고제면','남상면','남하면','마리면','북상면','신원면','웅양면','위천면','주상면'],
            '경남->고성군' : ['고성읍','개천면','거류면','구만면','대가면','동해면','마암면','삼산면','상리면','영오면','영현면','하이면','하일면','회화면'],
            '경남->남해군' : ['남해읍','고현면','남면','미조면','삼동면','상주면','서면','설천면','이동면','창선면'],
            '경남->산청군' : ['산청읍','금서면','단성면','삼장면','생비량면','생초면','시천면','신등면','신안면','오부면','차황면'],
            '경남->의령군' : ['의령읍','가례면','궁류면','낙서면','대의면','봉수면','부림면','용덕면','유곡면','정곡면','지정면','칠곡면','화정면'],
            '경남->창녕군' : ['남지읍','창녕읍','계성면','고암면','길곡면','대지면','대합면','도천면','부곡면','성산면','영산면','유어면','이방면','장마면'],
            '경남->하동군' : ['하동읍','고전면','금남면','금성면','북천면','악양면','양보면','옥종면','적량면','진교면','청암면','화개면','횡천면'],
            '경남->함안군' : ['가야읍','군북면','대산면','법수면','산인면','여항면','칠북면','칠서면','칠원면','함안면'],
            '경남->함양군' : ['함양읍','마천면','백전면','병곡면','서상면','서하면','수동면','안의면','유림면','지곡면','휴천면'],
            '경남->합천군' : ['합천읍','가야면','가회면','대병면','대양면','덕곡면','묘산면','봉산면','삼가면','쌍백면','쌍책면','야로면','용주면','율곡면','적중면','청덕면','초계면'],
            '경북->경산시' : ['갑제동','계양동','남방동','내동','대동','대정동','대평동','백천동','사동','사정동','삼남동','삼북동','삼풍동','상방동','서상동','신교동','신천동','여천동','옥곡동','옥산동','유곡동','임당동','점촌동','정평동','조영동','중방동','중산동','평산동','진량읍','하양읍','남산면','남천면','압량면','와촌면','용성면','자인면','경산우체국사서함'],
            '경북->경주시' : ['광명동','교동','구정동','구황동','남산동','노동동','노서동','덕동','도지동','동방동','동부동','동천동','마동','배동','배반동','보문동','북군동','북부동','사정동','서부동','서악동','석장동','성건동','성동동','손곡동','시동','시래동','신평동','암곡동','용강동','율동','인왕동','조양동','진현동','천군동','충효동','탑동','평동','하동','황남동','황성동','황오동','황용동','효현동','감포읍','건천읍','안강읍','외동읍','강동면','내남면','산내면','서면','양남면','양북면','천북면','현곡면','경주우체국사서함'],
            '경북->구미시' : ['거의동','공단1동','공단2동','공단동','광평동','구평동','구포동','금전동','남통동','도량동','봉곡동','부곡동','비산동','사곡동','상모동','선기동','송정동','수점동','시미동','신동','신평1동','신평2동','신평동','양호동','오태동','옥계동','원평1동','원평2동','원평동','인의동','임수동','임은동','지산동','진평동','형곡1동','형곡2동','형곡동','황상동','고아읍','선산읍','도개면','무을면','산동면','옥성면','장천면','해평면','구미우체국사서함'],
            '경북->김천시' : ['감호동','교동','남산동','다수동','대광동','덕곡동','모암동','문당동','백옥동','부곡동','삼락동','성내동','신음동','양천동','용두동','응명동','지좌동','평화동','황금동','아포읍','감문면','감천면','개령면','구성면','남면','농소면','대덕면','대항면','봉산면','부항면','어모면','조마면','증산면','지례면','김천우체국사서함'],
            '경북->문경시' : ['공평동','모전동','불정동','신기동','영신동','우지동','유곡동','윤직동','점촌동','창동','흥덕동','가은읍','문경읍','농암면','동로면','마성면','산북면','산양면','영순면','호계면','문경우체국사서함'],
            '경북->상주시' : ['가장동','개운동','거동동','계산동','낙상동','낙양동','남성동','남장동','남적동','냉림동','도남동','만산동','무양동','병성동','복룡동','부원동','서곡동','서문동','서성동','성동동','성하동','신봉동','양촌동','연원동','오대동','외답동','인봉동','인평동','죽전동','중덕동','지천동','초산동','헌신동','화개동','화산동','흥각동','함창읍','공검면','공성면','낙동면','내서면','모동면','모서면','사벌면','외남면','외서면','은척면','이안면','중동면','청리면','화남면','화동면','화북면','화서면','상주우체국사서함'],
            '경북->안동시' : ['광석동','금곡동','남문동','남부동','노하동','당북동','대석동','동문동','동부동','명륜동','목성동','법상동','법흥동','북문동','삼산동','상아동','서부동','석동동','성곡동','송천동','송현동','수상동','수하동','신세동','신안동','안기동','안막동','안흥동','옥동','옥야동','옥정동','용상동','운안동','운흥동','율세동','이천동','정상동','정하동','천리동','태화동','평화동','화성동','풍산읍','길안면','남선면','남후면','녹전면','도산면','북후면','서후면','예안면','와룡면','일직면','임동면','임하면','풍천면','안동우체국사서함'],
            '경북->영주시' : ['가흥1동','가흥2동','가흥동','고현동','문정동','상망동','상줄동','아지동','영주1동','영주2동','영주동','적서동','조암동','조와동','창진동','하망동','휴천1동','휴천2동','휴천3동','휴천동','풍기읍','단산면','문수면','봉현면','부석면','순흥면','안정면','이산면','장수면','평은면','영주우체국사서함'],
            '경북->영천시' : ['과전동','괴연동','교촌동','금노동','녹전동','대전동','도남동','도동','도림동','망정동','매산동','문내동','문외동','범어동','본촌동','봉동','서산동','성내동','신기동','쌍계동','야사동','언하동','오미동','오수동','완산동','작산동','조교동','창구동','채신동','화룡동','금호읍','고경면','대창면','북안면','신녕면','임고면','자양면','청통면','화남면','화북면','화산면','영천우체국사서함'],
            '경북->포항시 남구' : ['괴동동','대도동','대잠동','동촌동','상도동','송내동','송도동','송정동','이동','인덕동','일월동','장흥동','지곡동','청림동','해도동','호동','효자동','구룡포읍','연일읍','오천읍','대보면','대송면','동해면','장기면','포항우체국사서함'],
            '경북->포항시 북구' : ['남빈동','대신동','대흥동','덕산동','덕수동','동빈1가','동빈2가','두호동','득량동','상원동','신흥동','양덕동','여남동','여천동','용흥동','우현동','장성동','죽도동','중앙동','창포동','학산동','학잠동','항구동','환호동','흥해읍','기계면','기북면','송라면','신광면','죽장면','청하면'],
            '경북->고령군' : ['고령읍','개진면','다산면','덕곡면','성산면','쌍림면','우곡면','운수면'],
            '경북->군위군' : ['군위읍','고로면','부계면','산성면','소보면','우보면','의흥면','효령면'],
            '경북->봉화군' : ['봉화읍','명호면','물야면','법전면','봉성면','상운면','석포면','소천면','재산면','춘양면'],
            '경북->성주군' : ['성주읍','가천면','금수면','대가면','벽진면','선남면','수륜면','용암면','월항면','초전면'],
            '경북->영덕군' : ['영덕읍','강구면','남정면','달산면','병곡면','영해면','지품면','창수면','축산면'],
            '경북->영양군' : ['영양읍','석보면','수비면','일월면','입암면','청기면'],
            '경북->예천군' : ['예천읍','감천면','개포면','보문면','상리면','용궁면','용문면','유천면','지보면','풍양면','하리면','호명면'],
            '경북->울릉군' : ['울릉읍','북면','서면'],
            '경북->울진군' : ['울진읍','평해읍','근남면','기성면','북면','서면','온정면','원남면','죽변면','후포면'],
            '경북->의성군' : ['의성읍','가음면','구천면','금성면','다인면','단밀면','단북면','단촌면','봉양면','비안면','사곡면','신평면','안계면','안사면','안평면','옥산면','점곡면','춘산면'],
            '경북->청도군' : ['청도읍','화양읍','각남면','각북면','금천면','매전면','운문면','이서면','풍각면'],
            '경북->청송군' : ['청송읍','부남면','부동면','안덕면','진보면','파천면','현동면','현서면'],
            '경북->칠곡군' : ['북삼읍','석적읍','왜관읍','가산면','기산면','동명면','약목면','지천면'],
            '전남->광양시' : ['광영동','금호동','도이동','마동','성황동','중군동','중동','태인동','황금동','황길동','광양읍','다압면','봉강면','옥곡면','옥룡면','진상면','진월면','광양우체국사서함','목성우체국사서함'],
            '전남->나주시' : ['경현동','과원동','관정동','교동','금계동','금성동','남내동','남외동','대기동','대호동','동수동','보산동','부덕동','산정동','삼도동','삼영동','서내동','석현동','성북동','송월동','송촌동','안창동','영산동','오량동','용산동','운곡동','이창동','죽림동','중앙동','진포동','청동','토계동','평산동','남평읍','공산면','금천면','노안면','다도면','다시면','동강면','문평면','반남면','봉황면','산포면','세지면','왕곡면','나주우체국사서함','남평우체국사서함','성북동우체국사서함'],
            '전남->목포시' : ['경동1가','경동2가','경동','광동1가','광동2가','광동3가','광동','금동1가','금동2가','금동','금화동','남교동','달동','대성동','대안동','대양동','대의동1가','대의동2가','대의동3가','대의동','동명동','만호동','명륜동','무안동','보광동1가','보광동2가','보광동3가','보광동','복만동','부흥동','북교동','북항동','산정1동','산정2동','산정3동','산정동','삼학동','상동','상락동1가','상락동2가','상락동','서산동','석현동','수강동1가','수강동2가','수강동','신흥동','양동','연산동','영해동1가','영해동2가','영해동','옥암동','온금동','용당1동','용당2동','용당동','용해동','원산동','유동','유달동','율도동','죽교동','죽동','중동1가','중동2가','중동','중앙동1가','중앙동2가','중앙동3가','중앙동','창평동','축복동1가','축복동2가','축복동3가','축복동','측후동','하당동','항동','해안동1가','해안동2가','해안동3가','해안동4가','해안동','행복동1가','행복동2가','행복동','호남동','목포우체국사서함'],
            '전남->순천시' : ['가곡동','교량동','금곡동','남내동','남정동','대대동','대룡동','덕암동','덕월동','동외동','매곡동','삼거동','생목동','석현동','안풍동','야흥동','연향동','영동','오천동','옥천동','와룡동','왕지동','용당동','인월동','인제동','장천동','저전동','조곡동','조례동','중앙동','풍덕동','행동','홍내동','승주읍','낙안면','별량면','상사면','서면','송광면','외서면','월등면','주암면','해룡면','황전면','순천우체국사서함'],
            '전남->여수시' : ['경호동','고소동','공화동','관문동','광무동','교동','국동','군자동','낙포동','남산동','덕충동','동산동','둔덕동','만흥동','묘도동','문수동','미평동','봉강동','봉계동','봉산동','상암동','서교동','선원동','소호동','수정동','시전동','신기동','신덕동','신월동','안산동','여서동','여천동','연등동','오림동','오천동','웅천동','월내동','월하동','적량동','종화동','주삼동','중앙동','중흥동','충무동','평여동','학동','학용동','해산동','호명동','화장동','화치동','돌산읍','남면','삼산면','소라면','율촌면','화양면','화정면','여수우체국사서함'],
            '전남->강진군' : ['강진읍','군동면','대구면','도암면','마량면','병영면','성전면','신전면','옴천면','작천면','칠량면'],
            '전남->고흥군' : ['고흥읍','도양읍','과역면','금산면','남양면','대서면','도덕면','도화면','동강면','동일면','두원면','봉래면','영남면','점암면','포두면','풍양면'],
            '전남->곡성군' : ['곡성읍','겸면','고달면','목사동면','삼기면','석곡면','오곡면','오산면','옥과면','입면','죽곡면'],
            '전남->구례군' : ['구례읍','간전면','광의면','마산면','문척면','산동면','용방면','토지면'],
            '전남->담양군' : ['담양읍','고서면','금성면','남면','대덕면','대전면','무정면','봉산면','수북면','용면','월산면','창평면'],
            '전남->무안군' : ['무안읍','망운면','몽탄면','삼향면','운남면','일로읍','청계면','해제면','현경면'],
            '전남->보성군' : ['벌교읍','보성읍','겸백면','노동면','득량면','문덕면','미력면','복내면','웅치면','율어면','조성면','회천면'],
            '전남->신안군' : ['지도읍','도초면','비금면','신의면','안좌면','암태면','압해면','임자면','자은면','장산면','증도면','팔금면','하의면','흑산면'],
            '전남->영광군' : ['백수읍','영광읍','홍농읍','군남면','군서면','낙월면','대마면','묘량면','법성면','불갑면','염산면'],
            '전남->영암군' : ['삼호읍','영암읍','군서면','금정면','덕진면','도포면','미암면','서호면','시종면','신북면','학산면'],
            '전남->완도군' : ['금일읍','노화읍','완도읍','고금면','군외면','금당면','보길면','생일면','소안면','신지면','약산면','청산면'],
            '전남->장성군' : ['장성읍','남면','동화면','북이면','북일면','북하면','삼계면','삼서면','서삼면','진원면','황룡면'],
            '전남->장흥군' : ['관산읍','대덕읍','장흥읍','부산면','안양면','용산면','유치면','장동면','장평면','회진면'],
            '전남->진도군' : ['진도읍','고군면','군내면','의신면','임회면','조도면','지산면'],
            '전남->함평군' : ['함평읍','나산면','대동면','손불면','신광면','엄다면','월야면','학교면','해보면'],
            '전남->해남군' : ['해남읍','계곡면','마산면','문내면','북일면','북평면','산이면','삼산면','송지면','옥천면','현산면','화산면','화원면','황산면'],
            '전남->화순군' : ['화순읍','남면','능주면','도곡면','도암면','동면','동복면','북면','이서면','이양면','청풍면','춘양면','한천면'],
            '전북->군산시' : ['개복동','개사동','개정동','경암동','경장동','구암동','금동','금광동','금암동','나운1동','나운2동','나운3동','나운동','내초동','내흥동','대명동','동흥남동','둔율동','명산동','문화동','미룡동','미원동','미장동','비응도동','사정동','산북동','삼학동','서흥남동','선양동','소룡동','송창동','송풍동','수송동','신관동','신영동','신창동','신풍동','신흥동','영동','영화동','오룡동','오식도동','월명동','장미동','장재동','조촌동','죽성동','중동','중앙로1가','중앙로2가','중앙로3가','지곡동','창성동','평화동','해망동','옥구읍','개정면','나포면','대야면','서수면','성산면','옥도면','옥산면','옥서면','임피면','회현면','군산우체국사서함'],
            '전북->김제시' : ['갈공동','검산동','교동','난봉동','도장동','명덕동','백학동','복죽동','상동동','서암동','서정동','순동','신곡동','신덕동','신월동','신풍동','양전동','연정동','오정동','옥산동','요촌동','용동','월봉동','월성동','입석동','장화동','제월동','하동','황산동','흥사동','만경읍','공덕면','광활면','금구면','금산면','백구면','백산면','봉남면','부량면','성덕면','용지면','죽산면','진봉면','청하면','황산면','김제우체국사서함'],
            '전북->남원시' : ['갈치동','고죽동','광치동','금동','내척동','노암동','도통동','동충동','산곡동','식정동','신정동','신촌동','쌍교동','어현동','왕정동','용정동','월락동','조산동','죽항동','천거동','하정동','향교동','화정동','운봉읍','금지면','대강면','대산면','덕과면','보절면','사매면','산내면','산동면','송동면','수지면','아영면','이백면','인월면','주생면','주천면','남원우체국사서함'],
            '전북->익산시' : ['갈산동','금강동','남중동','덕기동','동산동','마동','만석동','모현동1가','모현동2가','목천동','부송동','석암동','석왕동','석탄동','송학동','신동','신용동','신흥동','어양동','영등동','용제동','월성동','은기동','인화동1가','인화동2가','인화동','임상동','정족동','주현동','중앙동1가','중앙동2가','중앙동3가','중앙동','창인동1가','창인동2가','창인동','팔봉동','평화동','현영동','함열읍','금마면','낭산면','망성면','삼기면','성당면','여산면','오산면','왕궁면','용동면','용안면','웅포면','춘포면','함라면','황등면','익산우체국사서함','익산공단우체국사서함'],
            '전북->전주시 덕진구' : ['강흥동','고랑동','금상동','금암1동','금암2동','금암동','남정동','덕진동1가','덕진동2가','도덕동','도도동','동산동','만성동','반월동','산정동','성덕동','송천동1가','송천동2가','여의동','용정동','우아동1가','우아동2가','우아동3가','원동','인후동1가','인후동2가','장동','전미동1가','전미동2가','진북동','팔복동1가','팔복동2가','팔복동3가','팔복동4가','호성동1가','호성동2가','호성동3가','화전동','동전주우체국사서함'],
            '전북->전주시 완산구' : ['경원동1가','경원동2가','경원동3가','고사동','교동','남노송동','다가동1가','다가동2가','다가동3가','다가동4가','대성동','동서학동','동완산동','삼천동1가','삼천동2가','삼천동3가','상림동','색장동','서노송동','서서학동','서신동','서완산동1가','서완산동2가','석구동','용복동','원당동','전동','전동3가','중노송동','중동','중앙동1가','중앙동2가','중앙동3가','중앙동4가','중인동','중화산동1가','중화산동2가','태평동','평화동1가','평화동2가','평화동3가','풍남동1가','풍남동2가','풍남동3가','효자동1가','효자동2가','효자동3가','전주우체국사서함'],
            '전북->정읍시' : ['공평동','과교동','교암동','구룡동','금붕동','내장동','농소동','망제동','부전동','삼산동','상동','상평동','송산동','수성동','시기3동','시기동','신월동','신정동','쌍암동','연지동','영파동','용계동','용산동','장명동','진산동','하모동','하북동','흑암동','신태인읍','감곡면','고부면','덕천면','북면','산내면','산외면','소성면','영원면','옹동면','이평면','입암면','정우면','칠보면','태인면','정읍우체국사서함'],
            '전북->고창군' : ['고창읍','고수면','공음면','대산면','무장면','부안면','상하면','성내면','성송면','신림면','심원면','아산면','해리면','흥덕면'],
            '전북->무주군' : ['무주읍','무풍면','부남면','설천면','안성면','적상면'],
            '전북->부안군' : ['부안읍','계화면','동진면','백산면','변산면','보안면','상서면','위도면','주산면','줄포면','진서면','하서면','행안면'],
            '전북->순창군' : ['순창읍','구림면','금과면','동계면','복흥면','쌍치면','유등면','인계면','적성면','팔덕면','풍산면'],
            '전북->완주군' : ['봉동읍','삼례읍','경천면','고산면','구이면','동상면','비봉면','상관면','소양면','용진면','운주면','이서면','화산면'],
            '전북->임실군' : ['임실읍','강진면','관촌면','덕치면','삼계면','성수면','신덕면','신평면','오수면','운암면','지사면','청웅면'],
            '전북->장수군' : ['장수읍','계남면','계북면','번암면','산서면','장계면','천천면'],
            '전북->진안군' : ['진안읍','동향면','마령면','백운면','부귀면','상전면','성수면','안천면','용담면','정천면','주천면'],
            '제주->제주시' : ['건입동','내도동','노형동','제주우편집중국사서함','도남동','도두1동','도두2동','도두동','도련1동','도련2동','도련동','도평동','봉개동','삼도1동','삼도2동','삼도동','삼양1동','삼양2동','삼양3동','삼양동','아라1동','아라2동','아라동','연동','영평동','오등동','오라1동','오라2동','오라3동','오라동','외도1동','외도2동','외도동','용강동','용담1동','용담2동','용담3동','용담동','월평동','이도1동','이도2동','이도동','이도이동','이도일동','이호1동','이호2동','이호동','일도1동','일도2동','일도동','해안동','화북1동','화북2동','화북동','화북일동','회천동','구좌읍','애월읍','조천읍','한림읍','우도면','추자면','한경면','제주우체국사서함'],
            '제주->서귀포시' : ['강정동','대포동','도순동','동홍동','법환동','보목동','상예동','상효동','색달동','서귀동','서호동','서홍동','송산동','신효동','영남동','용흥동','월평동','정방동','중문동','중앙동','천지동','토평동','하예동','하원동','하효동','호근동','회수동','남원읍','대정읍','성산읍','안덕면','표선면','서귀포우체국사서함'],
            '충남->계룡시' : ['금암동','두마면','신도안면','엄사면'],
            '충남->공주시' : ['검상동','교동','금성동','금학동','금흥동','무릉동','반죽동','봉정동','봉황동','산성동','상왕동','소학동','신관동','신기동','쌍신동','오곡동','옥룡동','웅진동','월미동','월송동','주미동','중동','중학동','태봉동','유구읍','계룡면','반포면','사곡면','신풍면','우성면','의당면','이인면','장기면','정안면','탄천면','공주우체국사서함'],
            '충남->논산시' : ['강산동','관촉동','내동','대교동','덕지동','등화동','반월동','부창동','지산동','취암동','화지동','강경읍','연무읍','가야곡면','광석면','노성면','벌곡면','부적면','상월면','성동면','양촌면','연산면','은진면','채운면','논산우체국사서함'],
            '충남->보령시' : ['궁촌동','남곡동','내항동','대천1동','대천2동','대천동','동대동','명천동','신흑동','요암동','죽정동','화산동','웅천읍','남포면','미산면','성주면','오천면','주교면','주산면','주포면','천북면','청라면','청소면','보령우체국사서함'],
            '충남->서산시' : ['갈산동','덕지천동','동문동','석남동','석림동','수석동','양대동','예천동','오남동','온석동','읍내동','잠홍동','장동','죽성동','대산읍','고북면','부석면','성연면','운산면','음암면','인지면','지곡면','팔봉면','해미면','대산우체국사서함','서산우체국사서함'],
            '충남->아산시' : ['권곡동','기산동','남동','득산동','모종동','방축동','배미동','법곡동','신동','신인동','실옥동','온천1동','온천2동','온천동','용화동','읍내동','장존동','점양동','좌부동','초사동','풍기동','배방읍','염치읍','도고면','둔포면','선장면','송악면','신창면','영인면','음봉면','인주면','탕정면','아산우체국사서함'],
            '충남->천안시 동남구' : ['구룡동','구성동','다가동','대흥동','문화동','봉명동','사직동','삼룡동','성황동','신방동','신부동','안서동','영성동','오룡동','용곡동','원성1동','원성2동','원성동','유량동','청당동','청수동','목천읍','광덕면','동면','병천면','북면','성남면','수신면','풍세면','천안우체국사서함'],
            '충남->천안시 서북구' : ['두정동','백석동','부대동','불당동','성성동','성정1동','성정2동','성정동','신당동','쌍용1동','쌍용2동','쌍용3동','쌍용동','업성동','와촌동','차암동','성거읍','성환읍','직산읍','입장면'],
            '충남->금산군' : ['금산읍','군북면','금성면','남이면','남일면','복수면','부리면','제원면','진산면','추부면'],
            '충남->당진군' : ['당진읍','합덕읍','고대면','대호지면','면천면','석문면','송산면','송악면','순성면','신평면','우강면','정미면'],
            '충남->부여군' : ['부여읍','구룡면','규암면','남면','내산면','석성면','세도면','양화면','옥산면','외산면','은산면','임천면','장암면','초촌면','충화면','홍산면'],
            '충남->서천군' : ['서천읍','장항읍','기산면','마산면','마서면','문산면','비인면','서면','시초면','종천면','판교면','한산면','화양면'],
            '충남->연기군' : ['조치원읍','금남면','남면','동면','서면','소정면','전동면','전의면'],
            '충남->예산군' : ['삽교읍','예산읍','고덕면','광시면','대술면','대흥면','덕산면','봉산면','신암면','신양면','오가면','응봉면'],
            '충남->청양군' : ['청양읍','남양면','대치면','목면','비봉면','운곡면','장평면','정산면','청남면','화성면'],
            '충남->태안군' : ['안면읍','태안읍','고남면','근흥면','남면','소원면','원북면','이원면'],
            '충남->홍성군' : ['광천읍','홍성읍','갈산면','결성면','구항면','금마면','서부면','은하면','장곡면','홍동면','홍북면'],
            '충북->제천시' : ['강제동','고명동','고암동','교동','남천동','대랑동','동현동','두학동','명동','명지동','모산동','산곡동','서부동','신동','신백동','신월동','영천동','왕암동','의림동','자작동','장락동','중앙로1가','중앙로2가','천남동','청전동','하소동','화산동','흑석동','봉양읍','금성면','덕산면','백운면','송학면','수산면','청풍면','한수면','제천우체국사서함'],
            '충북->청주시 상당구' : ['금천동','남문로1가','남문로2가','남주동','내덕1동','내덕2동','내덕동','대성동','명암동','문화동','방서동','북문로1가','북문로2가','북문로3가','사천동','산성동','서문동','서운동','석교동','수동','영동','영운동','오동동','외남동','외평동','외하동','용담동','용암1동','용암2동','용암동','용정동','우암동','운동동','월오동','율량동','정북동','정상동','정하동','주성동','주중동','지북동','탑동','평촌동','청주우체국사서함'],
            '충북->청주시 흥덕구' : ['가경동','강서1동','강서2동','강서동','개신동','남촌동','내곡동','동막동','모충동','문암동','미평동','산남동','복대1동','복대2동','복대동','봉명1동','봉명2동','봉명동','분평동','비하동','사직1동','사직2동','사직동','사창동','상신동','서청주우체국사서함','서촌동','석곡동','석소동','성화동','송절동','송정동','수곡1동','수곡2동','수곡동','수의동','신대동','신봉동','신성동','신전동','신촌동','외북동','운천동','원평동','장성동','장암동','정봉동','죽림동','지동동','평동','향정동','현암동','화계동','휴암동'],
            '충북->충주시' : ['가주동','교현1동','교현2동','교현동','금릉동','단월동','달천동','목벌동','목행동','문화동','봉방동','성남동','성내동','성서동','안림동','연수동','용관동','용두동','용산동','용탄동','종민동','지현동','직동','충의동','충인동','칠금동','풍동','호암동','주덕읍','가금면','금가면','노은면','동량면','산척면','살미면','소태면','수안보면','신니면','앙성면','엄정면','이류면','충주우체국사서함'],
            '충북->괴산군' : ['괴산읍','감물면','문광면','불정면','사리면','소수면','연풍면','장연면','청안면','청천면','칠성면'],
            '충북->단양군' : ['단양읍','매포읍','가곡면','단성면','대강면','어상천면','영춘면','적성면'],
            '충북->보은군' : ['보은읍','내북면','마로면','산외면','삼승면','속리산면','수한면','장안면','탄부면','회남면','회인면'],
            '충북->영동군' : ['영동읍','매곡면','상촌면','심천면','양강면','양산면','용산면','용화면','추풍령면','학산면','황간면'],
            '충북->옥천군' : ['옥천읍','군북면','군서면','동이면','안남면','안내면','이원면','청산면','청성면'],
            '충북->음성군' : ['금왕읍','음성읍','감곡면','대소면','맹동면','삼성면','생극면','소이면','원남면'],
            '충북->증평군' : ['증평읍','도안면'],
            '충북->진천군' : ['진천읍','광혜원면','덕산면','문백면','백곡면','이월면','초평면'],
            '충북->청원군' : ['내수읍','오창읍','가덕면','강내면','강외면','남이면','남일면','낭성면','문의면','미원면','부용면','북이면','옥산면','현도면']
        },
      }
    },
    created() {

    },
    mounted() {
      this.sojaeji('sido', 'gugun', 'dong')
      this.wideSearchResults()
    },
    computed: {
      searchRemain() {
        return this.$store.getters.searchGetter
      },
      dataRemain() {
        return this.$store.getters.pageGetter
      },
      sojajiRemain() {
          this.sojaeji('sido', 'gugun', 'dong')
      }
    },
    methods: {
        wideSearchResults(page = 1) {
          this.laravelFrist = ''
          axios.post('/restaurants/wideSearch?page=' + page,{
            restaurant: this.search
          })
            .then(response => {
                console.log(response.data)
                if(response.data.data.length !== 0) {
                    this.laravelData = response.data
                    this.laravelFrist = 'Y'
                } else {
                    this.laravelData = ''
                    this.laravelFrist = 'N'
                }
            })
            .catch(error =>{
                this.laravelFrist = '500'
            })
        },
        normalSearchResults(page = 1) {
            this.laravelFrist = ''
            axios.post('/restaurants/normalSearch?page=' + page,{
                restaurant: this.bname
            })
            .then(response => {
                console.log(response.data)
                if(response.data.data.length !== 0) {
                    this.laravelData = response.data
                    this.laravelFrist = 'Y'
                } else {
                    this.laravelData = ''
                    this.laravelFrist = 'N'
                }
            })
            .catch(error =>{
                this.laravelFrist = '500'
            })
        },
        sojaeji(sido, gugun, dong) {
          this.sido = document.getElementById(sido);
          this.gugun = document.getElementById(gugun);
          this.dong = document.getElementById(dong);
          this.update_sido();
        },
        update_gugun(){

          var gugun = this.sido.value;
          console.log('gugun',gugun)
          this.gugun.innerHTML = "";
          var gugunData = this.data[gugun]

          for(var i=0; i<gugunData.length; i++){
              this.gugun.options.add(new Option(gugunData[i], gugunData[i]));
          }

        },
        update_dong() {
            var selectOption = document.getElementById('gugun')
            var sidoOption = document.getElementById('sido')

            var bb = sidoOption.options[sidoOption.selectedIndex].value+"->"+selectOption.options[selectOption.selectedIndex].value
            var aa = this.data[this.gugun+"->"+selectOption.options[selectOption.selectedIndex].value]

            var dongData = this.data[bb]
            this.dong.innerHTML = "";
          for(var i=0; i<dongData.length; i++){
              this.dong.options.add(new Option(dongData[i], dongData[i]));
          }
        },
        update_sido() {
          if (this.sido == null) return;
          var sido = this.data['시도'];

          for(var i=0; i<sido.length; i++){
             this.sido.options.add(new Option(sido[i], sido[i]));
          }
          this.update_gugun();
          this.update_dong();
        },
        sojaejiSearch(){
            var selectOption3 = document.getElementById('dong')
            var seletedValue3 = selectOption3.options[selectOption3.selectedIndex].value;

            this.bname = seletedValue3
            this.normalSearchResults()

        }

    }
  }
</script>
