<template>

  <div>
    <!--        {{posts}}-->
    <div class="bg-gray-300 shadow" id="demosection2">
      <div class="insta-container mx-auto flex flex-col lg:flex-row items-center lg:relative">
        <!--                <div class="w-full lg:w-1/4">-->
        <!--                    <img class="hover:grow hover:shadow-lg" :src="post.node.thumbnail_resources[1].src">-->
        <!--                    <img alt="insta-profile" id="insta-profile" class="rounded-full h-48 lg:absolute lg:pin-l lg:pin-t lg:-mt-24" :src="profile">-->
        <!--                </div>-->

        <div class="w-full w-1/2 pl-2">
          <ul class="flex">
            <li class="text-center py-3 px-4 border-b-2 border-solid hover:border-teal-300 border-teal-300">

              <div class="text-sm font-bold tracking-tight mb-1">게시글</div>
              <div class="text-lg tracking-tight font-bold hover:text-teal-400 number-of-posts" id="number-of-posts">
                {{postCount}}
              </div>

            </li>
            <li class="text-center py-3 px-4 border-b-2 border-solid hover:border-teal-300">

              <div class="text-sm font-bold tracking-tight mb-1">팔로워</div>
              <div class="text-lg tracking-tight font-bold hover:text-teal-400 followers">{{follower}}</div>

            </li>
            <li class="text-center py-3 px-4 border-b-2 border-solid hover:border-teal-300">

              <div class="text-sm font-bold tracking-tight mb-1">팔로잉</div>
              <div class="text-lg tracking-tight font-bold hover:text-teal-400 following">{{following}}</div>

            </li>
          </ul>
        </div>
        <div class="w-full lg:w-1/4 flex lg:my-0 my-4 lg:justify-end items-center pl-2 lg:pl-0">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          <div class="">

            <a class="hover:no-underline a-white" :href="username">

              <button class="bg-teal-400 hover:bg-teal-600 text-base text-white font-medium py-2 px-4 rounded-full">
                방문하기
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <section class="py-6 lg:py-20 text-center landing-insta-section">
      <div v-if="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
      <div v-else style="position:relative;">
        <ul  id="insta-images"
            class="insta-images posts lg:w-3/5 container mx-auto flex justify-between flex-wrap pt-4 pb-12 px-3 items-center">
          <li v-for="(post,index) in posts" class="w-full md:w-1/3  flex justify-between flex-col instaDiv">
            <!--            <img class="hover:grow hover:shadow-lg" :src="post.node.thumbnail_resources[1].src">-->
            <img class="hover:grow hover:shadow-lg" :src="'/static/img/test_radius'+index+'.png'">

            <div class="pt-10 h-32 overflow-hidden insta-text">
              {{post.node.edge_media_to_caption.edges[0].node.text}}
            </div>
            <div class="pt-3 pb-5 flex items-center justify-end pr-2 text-lg">
              <div>
                <font-awesome-icon icon="comment" class="fa-comment-o"/>

                <div class="instaDivComment">{{post.node.edge_liked_by.count}}</div>
              </div>
              <div>
                <font-awesome-icon icon="heart" class="fa-heart"/>

                <div class="instaDivLike">{{post.node.edge_media_to_comment.count}}</div>
              </div>
            </div>
          </li>
        </ul>

        <div class="arrow_prev">
          <img src="static/img/arrow-left2.png" alt="left_button" @click="instaImg('left')">
        </div>

        <div class="arrow_next">
          <img src="static/img/arrow-right2.png" alt="left_button" @click="instaImg('right')">
        </div>
      </div>

    </section>
  </div>
</template>
<style lang="scss">
  @import "@/assets/sass/app.scss";

  @media screen and (max-width: 768px) {
    .popup a.close img, .story_popup a.close img {
      width: 70%;
    }
    .popup .popupImage, .story_popup .story_popupImage {
      width: 100%;
      position: absolute;
      top: 18%;
      margin-top: 0;
      left: 0;
      margin-left: 0;
    }
    .popupImage img {
      width: 92%;
    }
    #popupimg {
      width: 320px;
      height: 320px;
    }
    .popup a.close,
    .popup a.close, .story_popup a.close {
      top: -66px;
      right: 0;
      margin-right: 15px;
    }
    .popup a.right, .story_popup a.right {
      width: 40px;


      top: inherit;
      bottom: -66px;
      margin-top: 0px;
      right: 64%;
      display: inline-block;
    }
    .popup a.left, .story_popup a.left {
      width: 40px;
      top: inherit;
      bottom: -66px;
      margin-top: 0px;
      left: 64%;
      display: inline-block;
    }
  }

  .landing-insta-section {
    background-color: #f1efeb;

    .posts img {
      border-radius: 100%;
    }

    .fa-heart {
      color: #ed4956;
    }

    .instaDivLike, .instaDivComment {
      display: inline-block;
      padding: 0 3px;
    }

    ul {
      width: 780px;
      height: 430px;
      overflow: hidden;
    }

    @media only screen and (max-width: 768px) {
      ul {
        width: 100%;
        height: 125vw;
      }
    }

    li {
      width: 220px;
      margin-bottom: 10px;
    }

    @media only screen and (max-width: 768px) {
      li {
        width: 48%;
        margin-bottom: 25vw;
      }
    }

    ul li img {
      box-shadow: 3px 3px 3px #999;
      border-radius: 100%;

      &:hover {
        opacity: 0.9;
        box-shadow: #000 4px 10px 8px;
        transition: all 0.3s;
        border-radius: 100%;
      }
    }

    .arrow_prev, .arrow_next {
      position: absolute;
      top: 50%;
      margin-top: -46px;
    }

    .arrow_prev {
      left: 50%;
      margin-left: -470px;
    }

    .arrow_next {
      right: 50%;
      margin-right: -470px;
    }

    .arrow_prev, .arrow_next {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    @media only screen and (max-width: 768px) {
      .arrow_prev, .arrow_next {
        position: absolute;
        top: inherit;
        bottom: 3vw;
        margin-top: -46px;
      }
      .arrow_prev {
        left: 0;
        margin-left: 20vw;
      }
      .arrow_next {
        right: 0;
        margin-right: 20vw;
      }
    }
  }

  #instaContext {
    width: 320px;
    height: 60px;
    background-color: white;

  }

  #insta-profile {
    box-shadow: -9px -2px 17px #aaa;
    border-radius: 30px;
  }

  @media (min-width: 1024px) {
    .insta-container {
      width: 60%;
    }
  }

  .insta-text {
    font-size: 15px;
    font-family: 'Jeju Gothic';
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 2px;
    color: #666;
    height: 155px;
    text-overflow: ellipsis;
    overflow: hidden !important;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 8px;
    border: 8px solid #aaa;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #aaa transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


</style>
<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {faComment} from '@fortawesome/free-solid-svg-icons'
    import {faHeart} from '@fortawesome/free-solid-svg-icons'
    library.add(faComment)
    library.add(faHeart)

    export default {
        created() {
            this.loading = true
            this.addInsta
        },
        data() {
            return {
                posts: [],
                following: [],
                follower: [],
                postCount: [],
                username: [],
                // profile:[],
                loading: false
            }
        },
        computed: {
            addInsta() {
                this.$store.dispatch('sns/addInsta', {
                    id: 'seongs70',
                })
                    .then(response => {
                        this.posts = response.data.graphql.user.edge_owner_to_timeline_media.edges
                        // this.profile = response.data.graphql.user.profile_pic_url_hd
                        // console.log(response.data.graphql.user.profile_pic_url)
                        this.following = response.data.graphql.user.edge_follow.count
                        this.follower = response.data.graphql.user.edge_followed_by.count
                        this.postCount = response.data.graphql.user.edge_owner_to_timeline_media.count
                        this.username = 'https://www.instagram.com/' + 'seongs70'
                        this.loading = false
                    })
            },
        },
        methods: {

            instaImg(direction) {
                var box = document.querySelector('#insta-images')
                var aa = document.querySelectorAll('.landing-insta-section ul li')
                var firstLi = document.querySelector('.landing-insta-section ul li:first-child')
                var lastLi = document.querySelector('.landing-insta-section ul li:last-child')
                //자식 노드까지 복사
                var firstClone = firstLi.cloneNode(true)
                var lastClone = lastLi.cloneNode(true)
                var parentDiv = document.getElementById("insta-images")

                // .content ul li의 마지막 객체를 .content ul영역의 맨 앞으로 추가하기d
                // parentDiv.prepend(aa);
                //다음 버튼을 클릭하면 이미지가 1개식 나옴
                if (direction == 'left') {
                    firstLi.style.marginLeft = '-250px'
                    parentDiv.appendChild(firstClone)
                    firstLi.remove();

                } else {
                    parentDiv.insertBefore(lastClone, parentDiv.childNodes[0])
                    // firstLi.style.marginLeft = '250px';
                    lastLi.remove();
                }
            }
        }
    }

</script>
