<template>
  <div class="slider-width">
    <div id="slider-wrap" class="active">
      <ul id="slider">
<!--        <li>-->
<!--          <img src="@/assets/img/landing/Main_slide1.jpg">-->
<!--        </li>-->
<!--        <li>-->
<!--          <img src="@/assets/img/landing/Main_slide2.jpg">-->
<!--        </li>-->
<!--        <li>-->
<!--          <img src="@/assets/img/landing/Main_slide3.jpg">-->
<!--        </li>-->
      </ul>

      <div class="slider-btns" id="next" @click="plusSlides(1)"><span><img src="static/img/fancy_nav_right.png" alt=""></span></div>
      <div class="slider-btns" id="previous" @click="plusSlides(-1)"><span><img src="static/img/fancy_nav_left.png" alt=""></span></div>

      <div id="slider-pagination-wrap">
        <ul>
        </ul>
      </div>
    </div>

<!--    {{ window.width }}-->
<!--    {{imgSlide}}-->
  </div>

</template>
<style>
  #slider-wrap {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }

  #slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #slider-wrap ul#slider li {
    float: left;
    position: relative;

    height: 400px;
  }

  #slider-wrap ul#slider li>div {
    position: absolute;
    top: 20px;
    left: 35px;
  }

  #slider-wrap ul#slider li>div h3 {
    font-size: 36px;
    text-transform: uppercase;
  }

  #slider-wrap ul#slider li>div span {
    font-size: 21px;
  }

  #slider-wrap ul#slider li img {
    display: block;
    width: 100%;
    height: 100%;
  }

  /*btns*/
  .slider-btns {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
    opacity: 0.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  .slider-btns:hover {
    opacity: 1;
    /*background: rgba(0, 0, 0, 0.3);*/
  }

  #next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
  }

  #previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
  }

  #slider-wrap.active #next {
    right: 50px;
  }

  #slider-wrap.active #previous {
    left: 50px;
  }

  /*bar*/
  #slider-pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
  }

  #slider-pagination-wrap ul {
    width: 100%;
  }

  #slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
  }

  #slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
  }

  /*ANIMATION*/
  #slider-wrap ul,
  #slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  }

</style>
<script>
  export default {
    props: ['pcImgSlide','mobileImgSlide'],
    data() {
      return {
        window: {
          width: 0,
          height: 0
        },
        slideIndex: 0,
        mouseOver: false
      }
    },
    mounted() {
        var pcSlideLiLen = this.pcImgSlide
        var mobileSlideLiLen = this.mobileImgSlide
        var windowWidth = this.window.width
        if(windowWidth > 768) {
            pcSlideLiLen.map( imageSrc => {
                console.log('imageSrc',imageSrc)
                var li = document.createElement('li');
                // var img = document.createElement('img');
                // img.src = imageSrc;
                // li.appendChild(img)
                li.style.backgroundImage =  "url('"+imageSrc.pc_name+"')";
                // li.style.backgroundSize =  "cover";
                // li.style.backgroundPosition =  "center";
                document.querySelector('#slider').append(li)
            })
        } else {
            mobileSlideLiLen.map( imageSrc => {
                var li = document.createElement('li');
                // var img = document.createElement('img');
                // img.src = imageSrc;
                // li.appendChild(img)
                li.style.backgroundImage =  "url('"+imageSrc.m_name+"')";
                li.style.backgroundSize =  "cover";
                li.style.backgroundPosition =  "center";
                document.querySelector('#slider').append(li)
            })
        }


      document.querySelectorAll('#slider-wrap ul li').forEach(function () {
        var li = document.createElement('li');
        document.querySelector('#slider-pagination-wrap ul').appendChild(li);
      })

      // document.querySelector('.slider-width').style.width = windowWidth+'px';
      document.querySelector('.slider-width').style.width = windowWidth+'px';
      document.querySelectorAll('#slider li').forEach(function (element) {
        element.style.width = windowWidth+'px';
      })

    },
    created() {
      window.addEventListener('resize', this.handleResize);
      this.handleResize();
    },
    destroyed() {
      // window.removeEventListener('resize', this.handleResize);
    },
    computed:{

    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
        var windowWidth = this.window.width
        document.querySelectorAll('#slider li').forEach(function (element) {
          element.style.width = windowWidth+'px';
        })
          //에러뜸
          // document.getElementById('slider-wrap').style.width = '100%';
      },
      slideClick(click) {
        var slideWrapper = document.getElementById('slider-wrap')
        var slides = document.querySelectorAll('#slider-wrap ul li')
        var totalSlides = slides.length
        var sliderWidth = slideWrapper.clientWidth

        //슬라이드 배열
        slides.forEach(function (element) {
          element.style.width = sliderWidth + 'px'
        })

        //슬라이드 가로

        slider.style.width = sliderWidth * totalSlides + 'px'

        //다음, 이전 버튼
        var nextBtn = document.getElementById('next');
        var prevBtn = document.getElementById('previous');

      },
      plusSlides(num) {
        this.slideIndex += num
        console.log(this.slideIndex)
        this.showSlides();
      },

      showSlides(num) {
        var slides = document.querySelectorAll('#slider li')
        // console.log(slides)
        var totalSlides = slides.length
        var slider = document.querySelector('#slider-wrap ul#slider')
        var slideWrapper = document.getElementById('slider-wrap')
        var sliderWidth = slideWrapper.clientWidth


        if (this.slideIndex == -1) {
          this.slideIndex = totalSlides - 1;
        } else if (this.slideIndex == totalSlides) {
          this.slideIndex = 0;
        }

        slider.style.left =- (sliderWidth * this.slideIndex) + 'px';
        this.pagination();
      },
      pagination() {
        var dots = document.querySelectorAll('#slider-pagination-wrap ul li');
        var Index = this.slideIndex
        dots.forEach(function (element) {
          element.classList.remove('active')
        })


      },
      // slideMouseOver() {
      //   var slideWrapper = document.querySelector('#slider-wrap')
      //   if(this.mouseOver){
      //     this.mouseOver = false
      //     slideWrapper.classList.add('active')
      //   } else {
      //     this.mouseOver = true
      //     slideWrapper.classList.remove('active')
      //   }
      //
      //
      // }
    }
  }
</script>
