<template>
  <div class="footer">
    <footer>
      <div id="first">
        <div id="last">
          <div id="copyright">
            <a href="">회사소개</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">이용약관</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">개인정보</a><br><br>
            TESTㅣ 사업자등록번호 : 2580-1101-6504<br>
            <br>상담 및 문의 : 1600-7777 ㅣ이메일문의 : seongs70@naver.com<br>
            Copyright (c) TEST All rights reserved.<br>
            <a class="footer-icon" href="https://www.instagram.com/seongs70"><font-awesome-icon size="2x" :icon="['fab', 'github']" /></a>&nbsp;&nbsp;&nbsp;
            <a class="footer-icon" href="https://github.com/seongs70"><font-awesome-icon size="2x" :icon="['fab', 'instagram']" /></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<style>

</style>
<script>
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { fab  } from '@fortawesome/free-brands-svg-icons'
    library.add(fab)
    // library.add(Instagram)
  export default {

  }
</script>
