<template>
  <div class="header-wrap">
    <header class="with-background" id="topnav" >
      <div id="logo-header" class="flex justify-center">
        <div>
          <a href="/"><img src="@/assets/img/logo.png" alt="smile-logo"></a>
        </div>
        <div>
          <a href="/"><h2>테스트</h2></a>
        </div>
      </div>
      <div class="top-nav container">
        <div class="top-nav-right">
          <div>
            <ul>
              <li class="category">
                <router-link :to="{ name: 'home'}">메인</router-link>
              </li>
              <li class="category">
                <router-link :to="{ name: 'todo'}">투드</router-link>
              </li>
              <li class="category">
                <router-link :to="{ name: 'shop'}">SHOP</router-link>
              </li>

              <li class="category" v-if="!loggedIn">
                <router-link :to="{ name: 'login'}">로그인</router-link>
              </li>
              <li class="category" v-if="!loggedIn">
                <router-link :to="{ name: 'register'}">회원가입</router-link>
              </li>
              <li class="category" v-if="loggedIn">
                <router-link :to="{ name: 'logout'}">로그아웃</router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div id="mobile-nav">
      <header class="flex items-center">
        <div class="">
          <div class="cart">
            <font-awesome-icon icon="cart-plus" />

            <a href="">
              <span class="cart-count"><span></span></span>
            </a>
          </div>
        </div>
        <div class="landing-search-icon">
          <div class="cart" id="mobile-cart">
            <font-awesome-icon icon="search" />
          </div>
        </div>
        <div class="landing-logo">
          <h1 class="logo"><a href="/">테스트
          </a><span></span></h1>
        </div>

        <div class="">
          <div class="menu-toggle" @click="navOpen()">
            <div class="hamburger"></div>
          </div>
        </div>
        <nav class="site-nav">
          <ul>

            <li v-if="!loggedIn">
              <router-link :to="{ name: 'login'}">로그인</router-link>
              <router-link :to="{ name: 'register'}">회원가입</router-link>
            </li>
            <li class="category" v-if="loggedIn">
              <router-link :to="{ name: 'myinfo'}">내 정보</router-link>
              <router-link :to="{ name: 'logout'}">로그아웃</router-link>
            </li>
<!--            <li>-->
<!--              <a href="">My Info</a>-->
<!--              <a class="dropdown-item" href=""-->
<!--                 onclick="event.preventDefault();-->
<!--                                             document.getElementById('logout-form').submit();">-->

<!--              </a>-->

<!--              <form id="logout-form" action="" method="POST" style="display: none;">-->

<!--              </form>-->
<!--            </li>-->

            <li class="mobile-nav-li">
              <a href="/shop">Shop</a>
            </li>
            <li class="mobile-nav-li">
              <a target="_blank" href="https://www.instagram.com/">인스타그램</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </div>

</template>
<script>
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faSearch } from '@fortawesome/free-solid-svg-icons'
    import { faCartPlus } from '@fortawesome/free-solid-svg-icons'
    library.add(faSearch)
    library.add(faCartPlus)
    export default {
        data () {
            return {
               scroll : '',
                toggle : false
            }
        },
        computed: {
            loggedIn() {
                return this.$store.getters['user/loggedIn']
                // return this.$store.getters['user/loggedIn']
            }
        },
        created () {
            window.addEventListener('scroll', this.handleScroll);
        },
        methods: {
            handleScroll (event) {
                var scrollTop = document.documentElement.scrollTop

                if (scrollTop > 49) {
                    // $('#logo-header').fadeOut(400);
                    document.querySelector('.with-background').style.transform  = 'translate3d(0px, -80px, 0px)';
                } else {
                    // $('#logo-header').fadeIn(400);
                    document.querySelector('.with-background').style.transform = 'translate3d(0px, 0px, 0px)';
                }
            },
            navOpen(){
                document.querySelector('.site-nav').classList.toggle('site-nav--open')
                if(this.toggle == false){
                    this.toggle = true
                    document.querySelector('.menu-toggle').classList = 'menu-toggle open';
                } else {
                    document.querySelector('.menu-toggle').classList = 'menu-toggle';
                    this.toggle = false
                }
            }
        }
    }
</script>
<style lang="scss">
  /*@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");*/
  /*@import url('/node_modules/cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css');*/
  @import "@/assets/sass/app.scss";
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Nanum Gothic', sans-serif;
  }
  ul {
    list-style:none;
  }
  a {
    color:#999;
    text-decoration: none;
  }
  .header-wrap{
    padding-bottom:160px;
    @media (max-width: 625px) {
        padding-bottom: 0px;
    }
  }
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
  }

  .left {
    display:flex;
    align-items: center;
  }
  .logo a {
    color:#000;
  }
  .logo h1 {
    font-size: 1.1rem;
  }
  .logo p {
    font-size:1rem;
  }
  .nav {
    display: flex;
    align-items:center;
  }
  .nav li {
    margin-right:1.2rem;
  }

  .nav li a {
    font-size:14px;
    font-weight:550;
  }
  .nav li:last-child a{
    display:block;
    background:#3cb46e;
    color:#fff;
    padding:0.5rem 0.6rem;
    border-radius: 5px;
    transition: filter 0.5s;
  }
  .nav li:last-child a:hover {
    filter: brightness(85%);
  }
  .nav-search-form {
    margin-left:1rem;
  }
  .nav-search-form input {
    padding:0.7rem;
    border-radius:20px;
    border:none;
    background-color:#eee;
    width:600px;
    font-size:0.9rem;
    color:#333;
  }
  .nav-search-form input:focus{
    background: #fff;
  }

  /* Category Nav */
  .category-nav {
    display:flex;
    padding-left:0.6rem;
    overflow: hidden;
  }
  .category-nav .category {
    padding: 0.8rem;
  }
  .category a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;

  }
  #app {
    font-family: 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-size: 24px;
    height: 100vh;
  }
  .flex-center {
    display: flex;
    justify-content: center;
  }

  /* Hero */

  .hero {
    height:600px;
    background:url('/static/img/unsplash_search.jpg') no-repeat right center;
    background-size:100% 770px;
    width:100%;
    position:relative;
  }
  .hero-overlay {
    position:absolute;
    background:rgba(0,0,0,0.4);
    top:0;
    left:0;
    height:100%;
    width:100%;
  }
  .hero-container {
    max-width: 60%;
    margin: auto;
  }
  .hero-content {
    height:600px;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .hero-content h1 {
    font-size:4rem;
    color:#fff;
    z-index:2;
  }
  .hero-content p {
    color:#fff;
    z-index:2;
    margin: 1rem 0;
    line-height:1.5;
  }
  .hero-search-form {
    z-index: 2;
    margin: 1rem 0.6rem 0 0 ;
  }
  .hero-search-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 5px;
    border:none;
    font-size:0.9rem;
    color:#000;
  }
  .trending-search-tags {
    z-index:2;
  }
  .trending-search-tags a {
    color:#999;
    transition: 0.5s color;
  }
  .trending-search-tags a:hover{
    color:#fff;
  }
  /* Media quries */
  @media(max-width:900px) {
    .nav-search-form {
      display:none;
    }
    .hero{
      background-size:200% 700px;
    }
    .hero-container {
      max-width:90%;
    }
    .category-nav {
      display:none;
    }
    .images {
      margin:0.5rem;
    }
  }
  /*.nav {*/
  /*  display: flex;*/
  /*  list-style: none;*/
  /*  padding: 15px 0;*/
  /*  margin: 0;*/
  /*  justify-content: flex-end;*/
  /*  background: #F5F8FA;*/
  /*  border-bottom: 1px solid lightgrey;*/
  /*  !*margin-bottom: 24px;*!*/
  /*}*/
  /*.nav a {*/
  /*  color: #636b6f;*/
  /*  padding: 0 25px;*/
  /*  font-size: 14px;*/
  /*  font-weight: 600;*/
  /*  letter-spacing: .1rem;*/
  /*  text-decoration: none;*/
  /*  text-transform: uppercase;*/
  /*}*/
  // Auth Pages
  label {
    display: block;
    margin-bottom: 4px;
  }
  .login-heading {
    margin-bottom: 16px;
  }
  .form-control {
    margin-bottom: 24px;
  }
  .mb-more {
    margin-bottom: 42px;
  }
  .login-form {
    max-width: 500px;
    margin: auto;
  }
  .login-input {
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid lightgrey;
  }
  .btn-submit {
    width: 100%;
    padding: 14px 12px;
    font-size: 18px;
    font-weight: bold;
    background: #60BD4F;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background: darken(#60BD4F, 10%);
    }
    &:disabled {
      background: lighten(#60BD4F, 25%);
      cursor: not-allowed;
    }
  }
  .server-error {
    margin-bottom: 12px;
    font-size: 16px;
    padding: 10px 16px;
    color: #a94442;
    background: #F3DEDE;
    border-radius: 4px;
  }
  .success-message {
    background-color: #dff0d8;
    color: #3c763d;
    margin-bottom: 12px;
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 4px;
  }
  .form-error {
    font-size: 16px;
    color: #a94442;
  }
  .input-error {
    border: 1px solid red;
  }
  .page-wrapper {
    animation-duration: 0.2s;
  }
  // CSS Spinner
  .lds-ring-container {
    position: absolute;
    right: 50%;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    // margin: 6px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .server-error{
    margin-bottom:12px;
    font-size:16px;
    color:#a94442;
    padding:10px 16px;
    background:#F#DEDE;
    border-radius: 4px;
  }

</style>
