<template>
  <div id="app">
    <template v-if="!$route.meta.plainLayout">
      <header-component/>
      <transition name="router-animation" enter-active-class="animated fadeIn"
                  leave-active-class="animated fadeOut" mode="out-in">
        <router-view></router-view>
      </transition>
      <footer-component/>
    </template>
    <template v-if="$route.meta.plainLayout">
      <router-view/>
    </template>
  </div>
</template>

<script>
  import HeaderComponent from '@/components/layouts/Header'
  import FooterComponent from '@/components/layouts/Footer'

  export default {
    components: {
      HeaderComponent,
      FooterComponent,
    },
  }
</script>

