<template>
<!--  <nav class="navbar">-->
<!--    <div class="left">-->
<!--      <div class="logo">-->
<!--        <a href="">-->
<!--          <h1>Unsplash</h1>-->
<!--          <p>Photos for everyone</p>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="nav-search-form">-->
<!--        <form action="">-->
<!--          <input type="text"-->
<!--                 placeholder="Search (Press &quot;/&quot; to focus)"-->
<!--                 class=""-->

<!--                 @blur="searchResultVisible = false"-->
<!--          >-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--    <ul class="nav">-->
<!--      <li><a href="#">Login</a></li>-->
<!--      <li><a href="#">Join free</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
</template>
<script>

    import axios from 'axios'
    export default {

    }
</script>
<!--<template>-->
<!--  <div class="relative">-->
<!--    <search-focus @keyup="focusSearch" />-->
<!--    <div class="relative w-80">-->
<!--      <input-->
<!--        type="text"-->
<!--        placeholder="Search (Press  &quot;/&quot; to focus)"-->
<!--        class="bg-background-form border border-gray-500 rounded-full px-4 pl-10 py-2 outline-none focus:border-blue-500 w-80"-->
<!--        v-model="query"-->
<!--        @blur="searchResultsVisible = false"-->
<!--        @focus="searchResultsVisible = true"-->
<!--        @keydown.esc="searchResultsVisible = false"-->
<!--        @input="softReset"-->
<!--        ref="search"-->
<!--        @keyup="performSearch"-->
<!--        @keydown.up.prevent="highlightPrevious"-->
<!--        @keydown.down.prevent="highlightNext"-->
<!--        @keydown.enter="gotoLink"-->
<!--      >-->
<!--      <div class="absolute top-0 ml-3" style="top:10px">-->
<!--        <svg fill="currentColor" class="text-gray-500 h-5 w-5" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path></svg>-->
<!--      </div>-->
<!--      <div-->
<!--        v-if="query.length > 0"-->
<!--        class="absolute top-0 right-0 text-2xl mr-3 cursor-pointer text-gray-600 hover:text-gray-800"-->
<!--        style="top:2px;"-->
<!--        @click="reset"-->
<!--      >-->
<!--        &times;-->
<!--      </div>-->
<!--    </div>-->
<!--    <transition name="fade">-->
<!--      <div v-if="query.length > 0 && searchResultsVisible" class="absolute normal-case bg-white border left-0 right-0 w-108 text-left mb-4 mt-2 rounded-lg shadow overflow-hidden z-10 overflow-y-auto" style="max-height: 32rem">-->
<!--        <div class="flex flex-col" ref="results">-->
<!--          <a-->
<!--            v-for="(post, index) in searchResults"-->
<!--            :key="index"-->
<!--            :href="post.item.path"-->
<!--            @mousedown.prevent="searchResultsVisible = true"-->
<!--            class="border-b border-gray-400 text-xl cursor-pointer p-4 hover:bg-blue-100"-->
<!--            :class="{ 'bg-blue-100': index === highlightedIndex }"-->
<!--          >-->
<!--            {{ post.item.title }}-->

<!--            <span class="block font-normal text-sm my-1">{{ post.item.summary }}</span>-->
<!--          </a>-->

<!--          <div v-if="searchResults.length === 0" class="font-normal w-full border-b cursor-pointer p-4">-->
<!--            <p class="my-0">No results for '<strong>{{ query }}</strong>'</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </transition>-->
<!--  </div>-->
<!--</template>-->

<!--<script>-->
<!--    import SearchFocus from './SearchFocus'-->
<!--    import axios from 'axios'-->

<!--    export default {-->
<!--    //     components: {-->
<!--    //         SearchFocus,-->
<!--    //     },-->
<!--    //     data() {-->
<!--    //         return {-->
<!--    //             query: '',-->
<!--    //             searchResultsVisible: false,-->
<!--    //             posts: [],-->
<!--    //             searchResults: [],-->
<!--    //             highlightedIndex: 0,-->
<!--    //             options: {-->
<!--    //                 shouldSort: true,-->
<!--    //                 includeMatches: true,-->
<!--    //                 threshold: 0.5,-->
<!--    //                 location: 0,-->
<!--    //                 distance: 500,-->
<!--    //                 maxPatternLength: 32,-->
<!--    //                 minMatchCharLength: 1,-->
<!--    //                 keys: ['title', 'summary']-->
<!--    //             }-->
<!--    //         }-->
<!--    //     },-->
<!--    //     created() {-->
<!--    //         axios.get('/index.json')-->
<!--    //             .then(response => {-->
<!--    //                 this.posts = response.data-->
<!--    //             })-->
<!--    //     },-->
<!--    //     methods: {-->
<!--    //         reset() {-->
<!--    //             this.query = ''-->
<!--    //             this.highlightedIndex = 0-->
<!--    //         },-->
<!--    //         softReset() {-->
<!--    //             this.searchResultsVisible = true-->
<!--    //             this.highlightedIndex = 0-->
<!--    //         },-->
<!--    //         focusSearch(e) {-->
<!--    //             if (e.key === '/') {-->
<!--    //                 this.$refs.search.focus()-->
<!--    //             }-->
<!--    //         },-->
<!--    //         performSearch() {-->
<!--    //             this.$search(this.query, this.posts, this.options)-->
<!--    //                 .then(results => {-->
<!--    //                     this.searchResults = results-->
<!--    //                 })-->
<!--    //         },-->
<!--    //         highlightPrevious() {-->
<!--    //             if (this.highlightedIndex > 0) {-->
<!--    //                 this.highlightedIndex = this.highlightedIndex - 1-->
<!--    //                 this.scrollIntoView()-->
<!--    //             }-->
<!--    //         },-->
<!--    //         highlightNext() {-->
<!--    //             if (this.highlightedIndex < this.searchResults.length - 1) {-->
<!--    //                 this.highlightedIndex = this.highlightedIndex + 1-->
<!--    //                 this.scrollIntoView()-->
<!--    //             }-->
<!--    //         },-->
<!--    //         scrollIntoView() {-->
<!--    //             this.$refs.results.children[this.highlightedIndex].scrollIntoView({ block: 'nearest' })-->
<!--    //         },-->
<!--    //         gotoLink() {-->
<!--    //             if (this.searchResults[this.highlightedIndex]) {-->
<!--    //                 window.location = this.searchResults[this.highlightedIndex].item.path-->
<!--    //             }-->
<!--    //         }-->
<!--    //     }-->
<!--    }-->
<!--</script>-->

<!--<style scoped>-->
<!--  .fade-enter-active, .fade-leave-active {-->
<!--    transition: opacity .2s;-->
<!--  }-->
<!--  .fade-enter, .fade-leave-to {-->
<!--    opacity: 0;-->
<!--  }-->
<!--</style>-->

