<template>
  <div><label><input type="checkbox" :checked="!anyRemaining" @change="allChecked"> Check All</label></div>
</template>

<script>
export default {
  name: 'todo-check-all',
  computed: {
    anyRemaining() {
      return this.$store.getters['todo/anyRemaining']
    }
  },
  methods: {
    allChecked() {
      this.$store.dispatch('todo/checkAll', event.target.checked)
    }
  }
}
</script>

