.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
    padding: 100px 0 120px;
    .selected{
        border: 2px solid darksalmon;
    }
}
@media (max-width: 768px) {
    .product-section {
        padding: 0 3vw;
        grid-gap: 10vw;
    }
}
.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 1px solid #979797;
    //padding: 30px;
    text-align: center;
    height: 580px;

    img {
        opacity:0;
        transition:opacity .10s ease-in-out;
    }

    img.active {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .product-section-image{
        height:100vw;
    }
}
.product-section-images{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    grid-gap:20px;
    margin-top:20px;
    padding-left:15px;
}

.product-section-thumbnail {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    min-height:66px;
    cursor:pointer;

    &:hover{
        border:1px solid #979797;
    }
}


.product-section-information {

    p {
        margin-bottom: 16px;
    }

}
@media (max-width: 768px) {
    .product-section-information{
        margin-bottom:10vw;
        padding-left:15px;
    }
}
.product-section-title {

}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: $text-color-light;
}

.product-section-price {
    font-size: 38px;
    color: $text-color;
    margin-bottom: 16px;
}

