.button {
    border: 1px solid $text-color;
    padding: 12px 40px;

    &:hover {
        color: $white;
        background: $text-color;
    }
}

.button-white {
    border: 1px solid $white;
    color: $white !important;

    &:hover {
        color: $text-color !important;
        background: $white;
    }
}

.button-primary {
    background: $primary;
    color: white !important;
    padding: 12px 40px;

    &:hover {
        background: darken($primary, 7%);
    }

    &:disabled {
        background:lighten($primary, 10%);
        cursor:not-allowed;
    }
}

.button-plain {
    border: 1px solid $text-color !important;
    background: transparent;
}

.button-container {
    margin: 80px 0;
}


.pagination{
  text-align: center;
}
.pagination li{
  display: inline-block;
}
.pagination.pg-blue .page-item.active .page-link{
  background-color: #4285f4;
}
.pagination .page-item.active .page-link{
  color: #fff;
  background-color: #1e1e1e;
  border-radius: .125rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.pagination .page-item .page-link {
  font-size: .9rem;
  color: #212529;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
}
