@font-face {
  font-family: "Nanum Pen Script";
  src: url('/static/fonts/NanumPenScript-Regular.eot');
  src: url('/static/fonts/NanumPenScript-Regular.ttf');
  src: url('/static/fonts/NanumPenScript-Regular.woff');
}



@font-face {
  font-family: "Jeju Gothic";
  src: url('/static/fonts/JejuGothic.eot');
  src: url('/static/fonts/JejuGothic.ttf');
  src: url('/static/fonts/JejuGothic.woff');
}

@font-face {
  font-family: "Nanum Gothic";
  src: url('/static/fonts/NanumGothic.eot');
  src: url('/static/fonts/NanumGothic.ttf');
  src: url('/static/fonts/NanumGothic.woff');
}
