<template>
  <div class="page-wrapper login-form">
    <h2 class="login-heading">Login</h2>
    <form action="" @submit.prevent="login">
      <div v-if="successMessage" class="success-message">{{successMessage}}</div>

      <div v-if="serverError" class="server-error">{{ serverError }}</div>
      <div class="form-control">
        <label for="email">Username/Email</label>
        <input type="email" name="username" id="username" class="login-input" v-model="username">
      </div>

      <div class="form-control">
        <label for="password">password</label>
        <input type="password" name="password" id="password" class="login-input" v-model="password">
      </div>

      <div class="form-control">
        <button type="submit" class="btn-submit" :disabled="loading">
          <div class="lds-ring-container" v-if="loading">
          <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
          Login
        </button>
      </div>
    </form>
<!--    <QR></QR>-->
  </div>

</template>
<style>
  .page-wrapper{
    padding-top:158px;
  }
</style>
<script>
  // import QR from './QR'

  export default {
    name: 'login',
    components: {
      // QR
    },
    props: {
      dataSuccessMessage: {
        type: String,

      }
    },
    data() {
      return{
        username: '',
        password: '',
        serverError: '',
        successMessage: this.dataSuccessMessage,
        loading: false,
      }
    },
    methods: {
      login() {
        this.loading = true
        this.$store.dispatch('user/retrieveToken',{
          username: this.username,
          password: this.password,
        })
        .then(response => {
          this.loading = false
          this.$router.push({name: 'home'})
        })
        .catch(error => {
          this.loading = false
          if(!error.response){
              this.serverError = error
          } else {
              this.serverError = error.response.data.error
          }
          this.password = ''
          this.successMessage = ''
        })
      }
    }
  }
</script>
