<template>

</template>
<script>
  export default {
    created() {
      this.$store.dispatch('todo/clearTodos')
      this.$store.dispatch('user/destroyToken')
      .then(response => {
        this.$router.push({name:'home'})
      })
    }
  }
</script>
