<template>
  <div class="notfound-wrap">

    <div class="">
      <div class="text-wrap">
        <h1>404</h1>
        <h4>페이지를 찾을 수 없습니다.</h4>
        <a @click="$router.go(-1)" class="home-btn uppercase mx-auto shadow  focus:shadow-outline focus:outline-none rounded">뒤로가기</a>
      </div>
    </div>
    <div class="">
    </div>
  </div>
</template>

<script>
    export default {
        name: "NotFound",
        methods: {

        }
    }
</script>

<style lang="scss" >
  @import "@/assets/sass/app.scss";
  html{
    height:100%;
  }
  body{
    height:100%;
  }
  #app{
    height:100%;
  }
  .header-wrap{

  }
  .footer{

  }
  .notfound-wrap{
    width:100%;
    float:left;
    height:100%;
  }
  .text-wrap{
    margin-top:8rem;
  }
  .notfound-wrap > div {
    width:50%;
    height:100%;
    float:left;
    @media (max-width:1000px) {
      width:100%;
    }
  }
  .notfound-wrap > div:first-child {
    background-color:#fafbfc;
  }
  .notfound-wrap > div:last-child {
    background-image: url("/static/img/not_found.jpg");
    background-position:center center;
  }
  img {
    width:100%;
  }
  h1, h4{
    padding-left:4rem;


  }
  h1{
    font-size:16rem;
    color: darksalmon;
  }
  h4{
    padding-top:4rem;
    font-family: "Nanum Pen Script";
    padding-top:0;
    font-size:5.5rem;
    color:darkslategrey;
    margin-bottom:4rem;
  }
  .home-btn{
    font-family:'Nanum Gothic', sans-serif;
    padding:1.4rem 3rem;
    font-size:1.6rem;
    color:#fff;
    background: darkseagreen;
    font-weight: 500;
    margin-left:4rem;
  }
  .home-btn:hover{
   color:deeppink;

  }
</style>
