<template>
  <div>
    <div>QR로그인</div>
    <iframe id="ifrm" src='http://localhost:8000/qrLogin' frameborder="0"  style="max-width: 500px; width: 500px;
    height: 330px;"></iframe>
  </div>

</template>
<style>

</style>
<script>
  export default {

  }
</script>
