/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none; }
  a:hover {
    color: #878787; }

.logo a {
  color: #e9e9e9; }

h1 {
  margin-bottom: 40px; }

h2 {
  margin-bottom: 10px; }

img {
  max-width: 100%; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.container {
  margin: auto;
  max-width: 1200px; }

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6; }

h1, h2, .product-section-subtitle, .product-section-price {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 38px;
  line-height: 1.2; }

h1.stylish-heading {
  margin-bottom: 60px;
  position: relative; }
  h1.stylish-heading:before, h1.stylish-heading:after {
    position: absolute;
    top: -4px;
    left: 0;
    width: 66px;
    height: 1px;
    background: #212121;
    content: '';
    display: block; }
  h1.stylish-heading:after {
    bottom: -14px;
    top: auto; }

h2 {
  font-size: 22px; }

.text-center {
  text-align: center; }

.spacer {
  margin-bottom: 30px; }

@media (max-width: 768px) {
  .spacer {
    margin-bottom: 4vw; } }
.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.full-width {
  width: 100%; }

@font-face {
  font-family: "Nanum Pen Script";
  src: url("/static/fonts/NanumPenScript-Regular.eot");
  src: url("/static/fonts/NanumPenScript-Regular.ttf");
  src: url("/static/fonts/NanumPenScript-Regular.woff"); }
@font-face {
  font-family: "Jeju Gothic";
  src: url("/static/fonts/JejuGothic.eot");
  src: url("/static/fonts/JejuGothic.ttf");
  src: url("/static/fonts/JejuGothic.woff"); }
@font-face {
  font-family: "Nanum Gothic";
  src: url("/static/fonts/NanumGothic.eot");
  src: url("/static/fonts/NanumGothic.ttf");
  src: url("/static/fonts/NanumGothic.woff"); }
.breadcrumbs-wrap {
  background: #F5F5F5;
  box-shadow: 0 3px 2px -2px #cbd5e0; }

.breadcrumbs {
  font-size: 19px;
  padding: 24px 0; }
  @media (max-width: 768px) {
    .breadcrumbs {
      padding: 14px 0;
      height: 80px; } }
  .breadcrumbs .breadcrumb-separator {
    font-size: 14px;
    color: #545454; }

.button {
  border: 1px solid #212121;
  padding: 12px 40px; }
  .button:hover {
    color: #e9e9e9;
    background: #212121; }

.button-white {
  border: 1px solid #e9e9e9;
  color: #e9e9e9 !important; }
  .button-white:hover {
    color: #212121 !important;
    background: #e9e9e9; }

.button-primary {
  background: #3EBFA4;
  color: white !important;
  padding: 12px 40px; }
  .button-primary:hover {
    background: #35a48d; }
  .button-primary:disabled {
    background: #63cdb7;
    cursor: not-allowed; }

.button-plain {
  border: 1px solid #212121 !important;
  background: transparent; }

.button-container {
  margin: 80px 0; }

.pagination {
  text-align: center; }

.pagination li {
  display: inline-block; }

.pagination.pg-blue .page-item.active .page-link {
  background-color: #4285f4; }

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #1e1e1e;
  border-radius: .125rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.pagination .page-item .page-link {
  font-size: .9rem;
  color: #212529;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff; }

.section-description {
  width: 80%;
  margin: 44px auto; }

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 16px; }
.sidebar ul {
  line-height: 2;
  margin-bottom: 20px; }

.might-like-section {
  padding: 40px 0 70px;
  background: #F5F5F5; }
  .might-like-section h2 {
    padding-bottom: 30px; }
  .might-like-section .might-like-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px; }
  .might-like-section .might-like-product {
    background: white;
    padding: 0; }
    .might-like-section .might-like-product img {
      width: 100%; }
  .might-like-section .might-like-product-price {
    color: #919191;
    padding-bottom: 20px;
    padding-left: 4px; }
  .might-like-section .might-like-product-name {
    padding-top: 10px;
    padding-left: 4px; }

form .half-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; }
form button[type="submit"] {
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.6; }

.form-group {
  margin-bottom: 20px; }
  .form-group label {
    display: block; }
  .form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }

.pagination > li {
  display: inline; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.pagination > li > a, .pagination > li > span {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 16px 22px;
  position: relative;
  text-decoration: none; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd; }

.search-form {
  position: relative; }

.search-icon {
  color: gray;
  position: absolute;
  top: 12px;
  left: 12px; }

.search-box {
  padding: 10px 12px 10px 34px;
  width: 400px;
  max-width: 100%;
  font-size: 14px; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; }

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6; }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6; }

.table tbody + tbody {
  border-top: 2px solid #dee2e6; }

.table .table {
  background-color: #fff; }

.table-sm th,
.table-sm td {
  padding: 0.3rem; }

.table-bordered {
  border: 1px solid #dee2e6; }

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6; }

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075); }

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8daff; }

.table-hover .table-primary:hover {
  background-color: #9fcdff; }

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #9fcdff; }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d6d8db; }

.table-hover .table-secondary:hover {
  background-color: #c8cbcf; }

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c8cbcf; }

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb; }

.table-hover .table-success:hover {
  background-color: #b1dfbb; }

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb; }

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb; }

.table-hover .table-info:hover {
  background-color: #abdde5; }

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #abdde5; }

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba; }

.table-hover .table-warning:hover {
  background-color: #ffe8a1; }

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffe8a1; }

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb; }

.table-hover .table-danger:hover {
  background-color: #f1b0b7; }

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f1b0b7; }

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe; }

.table-hover .table-light:hover {
  background-color: #ececf6; }

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6; }

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca; }

.table-hover .table-dark:hover {
  background-color: #b9bbbe; }

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe; }

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075); }

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075); }

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075); }

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e; }

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6; }

.table-dark {
  color: #fff;
  background-color: #212529; }

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #32383e; }

.table-dark.table-bordered {
  border: 0; }

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05); }

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075); }

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .table-responsive-sm > .table-bordered {
    border: 0; } }
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .table-responsive-md > .table-bordered {
    border: 0; } }
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .table-responsive-lg > .table-bordered {
    border: 0; } }
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .table-responsive-xl > .table-bordered {
    border: 0; } }
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.table-responsive > .table-bordered {
  border: 0; }

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem; }

.badge-primary {
  color: #fff;
  background-color: #007bff; }

.badge-secondary {
  color: #fff;
  background-color: #6c757d; }

.badge-success {
  color: #fff;
  background-color: #28a745; }

.badge-danger {
  color: #fff;
  background-color: #dc3545; }

.badge-warning {
  color: #212529;
  background-color: #ffc107; }

.badge-info {
  color: #fff;
  background-color: #17a2b8; }

.badge-light {
  color: #212529;
  background-color: #f8f9fa; }

.badge-dark {
  color: #fff;
  background-color: #343a40; }

nav {
  text-align: center; }

@media (min-width: 768px) {
  .body {
    padding-top: 165px; } }
@media (max-width: 768px) {
  body {
    position: relative; }

  .search-pc {
    position: absolute;
    width: 100vw;
    padding-bottom: 4vw;
    background: #F5F5F5;
    display: none;
    float: none !important; }
    .search-pc input {
      width: 95vw !important;
      margin-top: 6vw; }
    .search-pc .aa-input-icon {
      top: 12vw; }

  .ais-search-box {
    max-width: 95vw !important; } }
#topnav a {
  font-family: "Jeju Gothic";
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 15px;
  color: #1e1e1e; }
  #topnav a:hover {
    text-decoration: none;
    color: burlywood; }
  #topnav a:hover img {
    opacity: 0.4; }

body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2; }

#topnav {
  position: fixed;
  width: 100%; }

#logo-header {
  z-index: 9999;
  position: relative;
  height: 80px; }
  #logo-header h2 {
    text-align: center;
    font-family: 'Nanum Pen Script';
    font-size: 60px;
    fotn-weight: bold; }

#topnav.with-background {
  transition: 0.7s all;
  z-index: 9999;
  background: #f1efeb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  #topnav.with-background .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    letter-spacing: 1.5px; }
    #topnav.with-background .top-nav .logo {
      font-weight: bold;
      font-size: 28px; }
    #topnav.with-background .top-nav ul a {
      color: #1e1e1e; }
  #topnav.with-background .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-top: 20px;
    padding-bottom: 84px; }
    #topnav.with-background .hero .hero-image {
      padding-left: 60px; }
    #topnav.with-background .hero h1 {
      font-size: 52px;
      margin-top: 50px; }
    #topnav.with-background .hero p {
      margin: 40px 0 68px; }
    #topnav.with-background .hero .button {
      margin-right: 14px; }

#topnav {
  background: #535353; }
  #topnav .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    letter-spacing: 1.5px; }
    #topnav .top-nav .logo {
      font-weight: bold;
      font-size: 28px;
      color: #e9e9e9;
      margin-right: 58px; }
    #topnav .top-nav ul {
      display: flex;
      text-transform: uppercase;
      font-weight: 400; }
      #topnav .top-nav ul li {
        margin-right: 38px; }
        #topnav .top-nav ul li:last-child {
          margin-right: 0; }
      #topnav .top-nav ul .cart-count {
        display: inline-block;
        background: #FFD94D;
        color: #212121;
        line-height: 0;
        border-radius: 50%;
        font-size: 14px; }
        #topnav .top-nav ul .cart-count span {
          display: inline-block;
          padding-top: 50%;
          padding-bottom: 50%;
          margin-left: 6px;
          margin-right: 6px; }
  #topnav .top-nav-left {
    display: flex; }
  #topnav .top-nav-right {
    display: flex;
    align-items: center; }

@media (max-width: 700px) {
  .cart-count span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.4vw;
    margin-top: -3.5vw; }

  #topnav {
    display: none; }

  #mobile-nav {
    display: block; } }
@media (min-width: 700px) {
  #topnav {
    display: block; }

  #mobile-nav {
    display: none; } }
#mobile-nav .container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto; }
#mobile-nav header {
  background: #f1efeb;
  color: #1e1e1e;
  position: relative;
  height: 12vw; }
#mobile-nav header > div:first-child, #mobile-nav header > div:nth-child(2), #mobile-nav header > div:nth-child(4) {
  width: 15%;
  height: 100%;
  border-right: 1px solid azure;
  border-left: 1px solid azure;
  text-align: center; }
  #mobile-nav header > div:first-child i, #mobile-nav header > div:nth-child(2) i, #mobile-nav header > div:nth-child(4) i {
    padding-top: 3vw; }
#mobile-nav header > div:nth-child(2) {
  border-left: none !important; }
#mobile-nav header > div:nth-child(3) {
  width: 55%; }
#mobile-nav header > div:nth-child(3) {
  width: 55%; }
  #mobile-nav header > div:nth-child(3) .logo {
    width: 100%;
    text-align: center; }
#mobile-nav .fa-cart-plus, #mobile-nav .fa-search {
  color: darkgrey;
  vertical-align: middle; }
#mobile-nav .cart {
  height: 100%; }
  #mobile-nav .cart a {
    position: absolute;
    width: 5.3vw;
    border-radius: 100px;
    height: 5.3vw;
    background: #3490dc;
    color: white;
    display: block;
    text-align: center;
    top: 0;
    left: 9.2vw; }
#mobile-nav .logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-family: "Jeju Gothic";
  font-weight: 400; }
  #mobile-nav .logo a {
    color: #1e1e1e; }
    #mobile-nav .logo a img {
      display: inline-block;
      width: 37%; }
#mobile-nav .logo span {
  font-weight: 400; }
#mobile-nav .site-nav {
  width: 57vw;
  height: 103vw;
  position: absolute;
  top: 100%;
  right: 0%;
  background: #f1efeb;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  z-index: 9999;
  /*   display: none; */ }
  #mobile-nav .site-nav .mobile-nav-li {
    text-align: left; }
#mobile-nav .site-nav--open {
  clip-path: circle(250% at top right);
  /*   display: block; */ }
#mobile-nav .site-nav ul {
  border-top: 1px solid white;
  margin: 0;
  padding: 0;
  list-style: none; }
#mobile-nav .site-nav li {
  border-bottom: 1px solid white; }
#mobile-nav .site-nav li:last-child {
  border-bottom: none; }
#mobile-nav .site-nav a {
  font-size: 13px;
  color: #1e1e1e;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5vw 0;
  padding-left: 7.75vw; }
#mobile-nav .site-nav li:first-child {
  display: flex; }
#mobile-nav .site-nav li:first-child a {
  width: 27.8vw;
  text-align: center;
  padding: 2.5vw 0; }
#mobile-nav .site-nav li:first-child a:first-child {
  border-right: 1px solid white; }
#mobile-nav .site-nav a:hover,
#mobile-nav .site-nav a:focus {
  color: #464655; }
#mobile-nav .site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4); }
#mobile-nav .menu-toggle {
  color: #1e1e1e;
  cursor: pointer; }
#mobile-nav .hamburger,
#mobile-nav .hamburger::before,
#mobile-nav .hamburger::after {
  content: '';
  display: block;
  background: #1e1e1e;
  height: 3px;
  width: 7vw;
  border-radius: 3px;
  transition: all ease-in-out 500ms; }
#mobile-nav .hamburger {
  margin: 0 auto;
  margin-top: 5.3vw; }
#mobile-nav .hamburger::before {
  transform: translateY(-6px); }
#mobile-nav .hamburger::after {
  transform: translateY(3px); }
#mobile-nav .open .hamburger {
  transform: rotate(45deg); }
#mobile-nav .open .hamburger::before {
  opacity: 0; }
#mobile-nav .open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg); }

.map {
  width: 100%;
  height: 22.9vw;
  clear: both;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-image: url(/img/footer-img1.png);
  background-repeat: no-repeat;
  z-index: 2;
  position: relative; }

.footer {
  position: relative;
  z-index: 1;
  color: #CCC;
  width: 100%;
  padding: 28px 0;
  background-attachment: fixed;
  background-image: url(/static/img/footer_bg.png);
  clear: both;
  font-size: 14px;
  background-size: cover;
  background-repeat: no-repeat; }
  .footer #last #copyright {
    width: 100%;
    text-align: center;
    line-height: 2.4;
    z-index: 150;
    font-size: 13px;
    letter-spacing: 1px; }
  .footer .svg-inline--fa {
    margin-top: 1.5rem; }

.demo-2 {
  padding-top: 144px; }

@media (max-width: 700px) {
  .demo-2 {
    max-width: 100vw;
    padding-top: 0; } }
.featured-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px 20px; }
  .featured-section .products .product-price {
    color: #919191 !important; }
@media screen and (max-width: 768px) {
  .featured-section .products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px; } }
.featured-section .product {
  text-align: left; }
  .featured-section .product .product-name {
    padding-top: 6px; }
  .featured-section .product .product-name, .featured-section .product .product-price {
    padding-left: 4px; }
.featured-section #view-more-btn {
  text-align: left !important;
  margin: 0 0;
  margin-top: 50px;
  margin-bottom: 100px; }

.blog-section {
  background: #F5F5F5;
  border-top: 1px solid #CDCDCD;
  padding: 50px 0;
  grid-area: blog-section; }
  .blog-section .blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 60px 0 60px;
    grid-template-areas: "blog1 blog2 blog3"; }
    .blog-section .blog-posts #blog1 {
      grid-area: blog1; }
    .blog-section .blog-posts #blog2 {
      grid-area: blog2; }
    .blog-section .blog-posts #blog3 {
      grid-area: blog3; }

.a-white {
  color: white !important; }
  .a-white:hover {
    color: cornsilk !important; }

#app .fa-instagram {
  color: darkgray;
  font-size: 2.4em; }

.popup, .story_popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.85); }

@media screen and (max-width: 768px) {
  #mmcc {
    padding-left: 0;
    padding-right: 0; } }
.popup .popupImage, .story_popup .story_popupImage {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -200px; }

.popup .popupImage img {
  width: 320px;
  border-radius: none; }

@media screen and (max-width: 768px) {
  .popup .popupImage img {
    width: 75%; } }
.popup a, .story_popup a {
  width: 70px;
  height: 40px;
  position: absolute;
  z-index: 51; }

.popup a.close, .story_popup a.close {
  top: 0;
  right: 0;
  margin-right: -90px; }

.popup a.close img, .story_popup a.close img {
  width: 80%; }

.popup a.left, .story_popup a.left {
  width: 70px;
  top: 50%;
  left: 0%;
  margin-left: -150px;
  margin-top: -62.5px; }

.popup a.right, .story_popup a.right {
  width: 70px;
  top: 50%;
  right: 0%;
  margin-right: -150px;
  margin-top: -62.5px; }

.popup a img, .story_popup a img {
  width: 100%; }

@media screen and (max-width: 768px) {
  .popup a.close img, .story_popup a.close img {
    width: 70%; }

  .popup .popupImage, .story_popup .story_popupImage {
    width: 100%;
    position: absolute;
    top: 18%;
    margin-top: 0;
    left: 0;
    margin-left: 0; }

  .popupImage img {
    width: 92%; }

  #popupimg {
    width: 320px;
    height: 320px; }

  .popup a.close,
  .popup a.close, .story_popup a.close {
    top: -66px;
    right: 0;
    margin-right: 15px; }

  .popup a.right, .story_popup a.right {
    width: 40px;
    top: inherit;
    bottom: -66px;
    margin-top: 0px;
    right: 64%;
    display: inline-block; }

  .popup a.left, .story_popup a.left {
    width: 40px;
    top: inherit;
    bottom: -66px;
    margin-top: 0px;
    left: 64%;
    display: inline-block; } }
.landing-instar-section {
  background-color: #f1efeb; }
  .landing-instar-section .posts img {
    border-radius: 100%; }
  .landing-instar-section .fa-heart {
    color: #ed4956; }
  .landing-instar-section .instarDivLike, .landing-instar-section .instarDivComment {
    display: inline-block;
    padding: 0 3px; }
  .landing-instar-section ul {
    width: 780px;
    height: 460px;
    overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .landing-instar-section ul {
      width: 100%;
      height: 125vw; } }
  .landing-instar-section li {
    width: 220px;
    margin-bottom: 10px; }
  @media only screen and (max-width: 768px) {
    .landing-instar-section li {
      width: 48%;
      margin-bottom: 25vw; } }
  .landing-instar-section ul li img {
    box-shadow: 3px 3px 3px #999;
    border-radius: 100%; }
    .landing-instar-section ul li img:hover {
      opacity: 0.9;
      box-shadow: #000 4px 10px 8px;
      transition: all 0.3s;
      border-radius: 100%; }
  .landing-instar-section .arrow_prev, .landing-instar-section .arrow_next {
    position: absolute;
    top: 50%;
    margin-top: -46px; }
  .landing-instar-section .arrow_prev {
    left: 50%;
    margin-left: -470px; }
  .landing-instar-section .arrow_next {
    right: 50%;
    margin-right: -470px; }
  .landing-instar-section .arrow_prev, .landing-instar-section .arrow_next {
    cursor: pointer; }
    .landing-instar-section .arrow_prev:hover, .landing-instar-section .arrow_next:hover {
      opacity: 0.5; }
  @media only screen and (max-width: 768px) {
    .landing-instar-section .arrow_prev, .landing-instar-section .arrow_next {
      position: absolute;
      top: inherit;
      bottom: 3vw;
      margin-top: -46px; }
    .landing-instar-section .arrow_prev {
      left: 0;
      margin-left: 20vw; }
    .landing-instar-section .arrow_next {
      right: 0;
      margin-right: 20vw; } }

#instarContext {
  width: 320px;
  height: 60px;
  background-color: white; }

#instar-profile {
  box-shadow: -9px -2px 17px #aaa;
  border-radius: 30px; }

@media (min-width: 1024px) {
  .instar-container {
    width: 60%; } }
.instar-text {
  font-family: 'Jeju Gothic';
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 2px;
  color: #666;
  height: 132px;
  text-overflow: ellipsis;
  overflow: hidden !important; }

@media only screen and (max-width: 768px) {
  .button-container {
    margin: 40px 0; }

  .featured-section #view-more-btn {
    text-align: center !important; } }
.products-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 80px auto 80px; }
  @media (max-width: 768px) {
    .products-section {
      margin: 10vw auto 0vw; } }
  .products-section .sidebar li.active {
    font-weight: 500; }
  .products-section .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px 10px;
    text-align: left; }
    .products-section .products .product-price {
      color: #919191; }
    .products-section .products .product-name {
      padding-top: 6px; }
    .products-section .products .product-name, .products-section .products .product-price {
      padding-left: 4px;
      font-size: 14px; }

.products-header {
  display: flex;
  justify-content: space-between; }

@media (max-width: 768px) {
  .products-header {
    padding-left: 15px;
    margin-top: 6vw;
    margin-bottom: 6vw;
    display: block; }
    .products-header a {
      color: coral; }
    .products-header h1 {
      margin-bottom: 3vw;
      color: darkturquoise; }
    .products-header h1.stylish-heading:before, .products-header h1.stylish-heading:after {
      display: none; } }
.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
  padding: 100px 0 120px; }
  .product-section .selected {
    border: 2px solid darksalmon; }

@media (max-width: 768px) {
  .product-section {
    padding: 0 3vw;
    grid-gap: 10vw; } }
.product-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 580px; }
  .product-section-image img {
    opacity: 0;
    transition: opacity .10s ease-in-out; }
  .product-section-image img.active {
    opacity: 1; }

@media (max-width: 768px) {
  .product-section-image {
    height: 100vw; } }
.product-section-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  padding-left: 15px; }

.product-section-thumbnail {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  min-height: 66px;
  cursor: pointer; }
  .product-section-thumbnail:hover {
    border: 1px solid #979797; }

.product-section-information p {
  margin-bottom: 16px; }

@media (max-width: 768px) {
  .product-section-information {
    margin-bottom: 10vw;
    padding-left: 15px; } }
.product-section-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #919191; }

.product-section-price {
  font-size: 38px;
  color: #212121;
  margin-bottom: 16px; }

/*# sourceMappingURL=app.css.map */
